/* template.typography.css
   
   Developed using ideas from:
   www.blueprintcss.org
   www.webtypography.net */

body {
	font-family: Helvetica, Arial, sans-serif;

	/* Enable kerning in FF and WebKit. */
	text-rendering: optimizeLegibility;

	/* Enable hyphens for less ragging at line ends.
	   https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens */
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hy­phens: auto;
}

pre,
code,
kbd,
samp {
	/* Corrects font family set oddly in IE6, S4/5, Chrome
	   en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
	font-family: monospace, serif;
	font-family: 'Andale Mono', 'Lucida Console', monospace;
	font-size: 1em;
}

pre {
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS2.1 */
	/*white-space: pre-line; /* CSS3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

a:focus,
a:hover           { text-decoration: underline; }
a                 { text-decoration: none; }

a:link {
	/* j.mp/webkit-tap-highlight-color */
	-webkit-tap-highlight-color: rgba(0,0,0,0.25);
}

/* Block elements */

h1,
h2,
h3,
h4,
h5,
h6                { font-weight: normal; }

hr                { height: 0; border-width: 0; border-bottom: 1px solid black; margin-top: -1px; }


dl {
	/* Clearfix, because children of definition list are floated. */
	zoom: 1;
}

dl:after {
	/* Clearfix, because children of definition list are floated. */
	content: " ";
	visibility: hidden;
	display: block;
	clear: both;
	font-size: 0;
	height: 0;
}

dt                { float: left; clear: both; text-align: right; width: 22.75%; font-weight: bold; }
dd                { float: right; text-align: left; width: 74.25%; }

ul                { list-style-type: disc; }
ol                { list-style-type: decimal; }

blockquote        { font-style: italic; font-family: Georgia, serif; }
blockquote:before { content: "\201C"; font-size: 3em; color: #484848; float: left; margin-left: -0.6em; line-height: 0.92em; }

p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
li:first-child,
dt:first-child,
dd:first-child,
blockquote:first-child {
	/* Typographic blocks should not cause a gap at the top of
	   text blocks. That's what padding is for. */
	margin-top: 0;
}

p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
dl:empty,
li:empty,
dt:empty,
dd:empty,
blockquote:empty {
	/* Hide any typographic block that is empty. This is a bit
	   contraversial, but helps correct style errors in blocks
	   of user input where the html has ended up dodgy. Include
	   bolt.debug.css to see empty blocks highlighted. */
	display: none;
}

p > img,
p > svg,
p > video,
p > canvas,
p > object,
p > embed,
p > iframe,
li > img,
li > svg,
li > video,
li > canvas,
li > object,
li > embed,
li > iframe,
dd > img,
dd > svg,
dd > video,
dd > canvas,
dd > object,
dd > embed,
dd > iframe {
	/* Don't allow media to break out of container bounds. */
	max-width: 100%;
}

/* Inline elements */

abbr[title]       { border-bottom: 1px dotted; }

b,
strong,
dfn               { font-weight: bold; }
em,
dfn               { font-style: italic; }
small             { font-size: 0.8333em; }
sup,
sub               { line-height: 0; font-size: 0.8333em; position: relative; vertical-align: baseline; }
sup               { top: -0.5em; }
sub               { bottom: -0.25em; }

q                 { quotes: none; }
q:before,
q:after           { content: ''; content: none; }

time              { text-transform: uppercase; }

abbr              { letter-spacing: 0.1em; }
pre,
code,
tt                { font-family: 'andale mono', 'lucida console', monospace; }
del               { opacity: 0.5; filter: alpha(opacity=50%); text-decoration: line-through; }

/* Tables */

table             { width:100%; }
th                { font-weight: bold; }
tfoot             { font-style: italic; }
caption           { background-color: inherit; }

/* Classes */

.last             { margin-bottom: 0; }
.note             { font-style: italic; }

/* Selection */

::selection {
	background:rgba(27,117,186,0.8);
	color:rgb(255,255,255);
}
::-moz-selection {
	background:rgba(27,117,186,0.8);
	color:rgb(255,255,255);
}
::-webkit-selection {
	background:rgba(27,117,186,0.8);
	color:rgb(255,255,255);
}