
.scribe-header,
.scribe-footer,
.scribe-svg {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.scribe-header,
.scribe-footer {
    font-family: 'Jazz Text', 'Comic Sans MS', 'Comic Sans', cursive;
    padding-top: 1.5rem;
}

.scribe-header a,
.scribe-footer a {
    color: #FE337E;
}

.scribe-header > .scribe-title,
.scribe-header > .scribe-composer,
.scribe-header > .scribe-part {
    display: inline-block;
    position: relative;
}

.scribe-header > .scribe-title {
    left: 20%;
    width: 60%;
    margin-right: -60%;
    text-align: center;
}

.scribe-header > .scribe-composer,
.scribe-header > .scribe-part {
    width: 20%;
    margin-right: -20%;
}

.scribe-header > .scribe-composer {
    left: 2%;
    text-align: left;
}

.scribe-header > .scribe-part {
    left: 78%;
    text-align: right;
}

.scribe-footer {

    padding-left: 2%;
    padding-right: 2%;
}

.scribe-title {
    font-size: 2.5rem;
}

.scribe-composer {
    font-size: 1.25rem;
}

.scribe-part {
    font-size: 1.25rem;
}
/*
.scribe-note,
.scribe-tail,
.scribe-clef,
.scribe-rest,
.scribe-beam,
.scribe-symbol,
.scribe-accidental {
    fill: black;
    stroke: none;
}

.scribe-note:hover {
    fill: red;
    cursor: pointer;
}


.scribe-stave {
    fill: none;
    stroke: black;
    stroke-width: 0.1;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.scribe-barline {
    fill: black;
    stroke: black;
    stroke-width: 0.2125;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.scribe-endline {
    stroke: black;
    stroke-width: 0.8;
    stroke-linecap: butt;
    stroke-linejoin: butt;
}

.scribe-stalk {
    stroke: black;
    stroke-width: 0.3;
    stroke-linecap: butt;
}
*/

.scribe-clef {
    min-width: 0.736842105em;
    margin-left: 0.15em;
    margin-right: 0.3em;
    grid-row: G4;
    grid-column: bar-start;
    vertical-align: baseline;
}

.scribe-rest {
    text-align: center;
}

.scribe-rest { grid-row: line-middle/span 1; }



/* Symbols */

.stave-svg {
    grid-column-start: bar-start;
    grid-row-start: line-top;
    grid-column-end: -1;
    grid-row-end: -1;
    width: 100%;
    height: 2.5em;
}

.stave-line {
    stroke: black;
    stroke-width: 0.03em;
}

.bar-svg {
    grid-row-start: line-top;
    width: 0.25em;
    height: 2.5em;
    background-image: url(#bar-svg);
    background-size: 100% 100%;
}

.bar-line {
    stroke-width: 0.07em;
    stroke-linecap: square;
}

.bar-svg-0 { grid-column-start: bar-start; }
.bar-svg-1 { grid-column-start: bar-end; justify-self: end; }

.bar-svg-0 { grid-column-start: bar-start; }
.bar-svg-1 { grid-column-start: bar-end; }
.bar-svg-2 { grid-column-start: bar-2; }
.bar-svg-3 { grid-column-start: bar-3; }
.bar-svg-4 { grid-column-start: bar-4; }
.bar-svg-5 { grid-column-start: bar-5; }
.bar-svg-6 { grid-column-start: bar-6; }
.bar-svg-7 { grid-column-start: bar-7; }
.bar-svg-8 { grid-column-start: bar-8; }

.head-svg {
    min-width: 1em;
    max-width: 3rem;
    height: 0.625em;
    margin-top: -0.3125rem;
}

.tie-path {
    fill: currentcolor;
    stroke: currentcolor;
    stroke-width: 0.02em;
}

.tie-span {
    position: relative;
    left: 0.5em;
    top: 0.625em;
    min-width: 0.3125em;
    min-height: 0.5em;
    width: auto;
    height: auto;
    pointer-events: none;
}

.tie-span > svg {
    width: 100%;
    height: auto;
}

.defs-svg {
    width: 0;
    height: 0;
}

.scribe-chord {
    grid-row: chords;
    align-self: flex-end;
}

.scribe-stave-line {
    stroke: black;
    stroke-width: 0.03em;
}


/* Layout */

.scribe-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

* + .scribe-flex {
    margin-top: 2.8125rem;
}

.scribe-flex::after {
    content: '';
    flex: auto;
}

.scribe-flex > .scribe-bar {
    /* Basis should be the min-content width of a bar. However, the
       min-content keyword is not supported as of May 2018. Auto SHOULD
       do the same thing for min-content, and in FireFox it does, but
       there is bug in Chrome that equalises the width of all the bars. */
    flex-basis: auto;
    flex-basis: min-content;

    /* Make bars grow from their min-content, but not shrink. (They
       should not shrink anyway). */
    flex-shrink: 0;
    flex-grow: 1;

    /* Gaurantee at least 4 bars per line, and a last line that
       does not justify. */
    max-width: 25%;
}


/* Symbols */

.scribe-chord {
    font-family: 'chords', cursive;
    font-size: 1.75em;
    font-weight: 300;
    letter-spacing: 0;
}
