@font-face {
    font-family: JazzText;
    src: url('../fonts/jazztext/jazztextregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bravura;
    src: url('../fonts/Bravura/redist/woff/Bravura.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: BravuraText;
    src: url('../fonts/Bravura/redist/woff/BravuraText.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: JazzText;
    src: url('../fonts/FinaleJazzText/finalejazztext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: Broadway;
    src: url('../fonts/Broadway/finalebroadway-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: BroadwayText;
    src: url('../fonts/BroadwayText/finalebroadwaytext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: FinaleJazz;
    src: url('../fonts/FinaleJazz/finalejazz-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FinaleJazzText;
    src: url('../fonts/FinaleJazzText/finalejazztext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: Petaluma;
    src: url('../fonts/petaluma/redist/woff/Petaluma.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: PetalumaText;
    src: url('../fonts/petaluma/redist/woff/PetalumaText.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: Jazztext;
    src: url('../fonts/jazztext/jazztextregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: Ash;
    src: url('../fonts/Ash/finaleash-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: AshText;
    src: url('../fonts/AshText/finaleashtext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}





.bravura {
    font-family: Bravura;
}


.bravura-text {
    font-family: BravuraText;
}


.ash {
    font-family: Ash;
}


.ash-text {
    font-family: AshText;
}

.petaluma {
    font-family: Petaluma;
}

.petaluma-text {
    font-family: PetalumaText;
}

.broadway {
    font-family: Broadway;
}
.broadway-text {
    font-family: BroadwayText;

}

.finale {
    font-family: FinaleJazz;
}

.finale-text {
    font-family: FinaleJazzText;
}

.jazz-text {
    font-family: Jazztext;
}

td {
    border: 1px solid black;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}