[submodule "fonts/petaluma"]
	path = fonts/petaluma
	url = https://github.com/steinbergmedia/petaluma.git
[submodule "fonts/Bravura"]
	path = fonts/Bravura
	url = https://github.com/steinbergmedia/bravura.git
[submodule "fonts/MartianMono"]
	path = fonts/MartianMono
	url = https://github.com/evilmartians/mono.git
[submodule "lib/bolt"]
	path = lib/bolt
	url = git@github.com:stephband/bolt-2
[submodule "lib/fn"]
	path = lib/fn
	url = git@github.com:stephband/fn
[submodule "lib/dom"]
	path = lib/dom
	url = git@github.com:stephband/dom
[submodule "lib/midi"]
	path = lib/midi
	url = git@github.com:stephband/midi
[submodule "lib/abcjs"]
	path = lib/abcjs
	url = git@github.com:stephband/abcjs
