[submodule "fonts/MartianMono"]
	path = fonts/MartianMono
	url = https://github.com/evilmartians/mono.git
[submodule "fonts/Leland"]
	path = fonts/Leland
	url = https://github.com/MuseScoreFonts/Leland.git
