
/* Font must be imported outside the shadow DOM for Safari's sake */
@import '../fonts/jazz.css';

scribe-music {
    font-family: Jazz, JazzText, sans-serif;
}

scribe-music::after {
    /* Control spread of last line */
    content: '';
    flex: 6 1;
}

scribe-music:not(:defined) {
    display: none !important;
}
