
@font-face {
    font-family: ScribeText;
    src: url('../fonts/FinaleJazzText/finalejazztext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ScribeMusic;
    src: url('../fonts/FinaleJazz/finalejazz-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

scribe-music::after {
    content: '';
    flex: 6 1;
}

scribe-music:not(:defined) {
    display: none !important;
}
