
@import '../fonts/jazz.css';

scribe-music {
    font-family: FinaleJazz, FinaleJazzText, sans-serif;
}

scribe-music::after {
    content: '';
    flex: 6 1;
}

scribe-music:not(:defined) {
    display: none !important;
}
