
/* Bars */

.bar {
	/*
	--bar-line-size:     0.1rem;
	--bar-column-gap:    0.04em;
	--bar-padding-left:  0.6em;
	--bar-padding-right: 0.3em;
	--acci-margin-left:  0;
	--acci-margin-right: 0.25em;
	--head-width:        calc(2.7 * var(--y-size));
	--head-margin-left:  0.25em;
	--head-margin-right: 0.1em;
	--stem-thickness:    0.06em;
	*/

	display: grid;
	grid-auto-columns: 0px;
	align-content: stretch;
	align-items: stretch;
	justify-content: stretch;
	justify-items: stretch;
	column-gap:    var(--bar-column-gap);

	padding-left:  var(--bar-padding-left);
	padding-right: var(--bar-padding-right);
}


/* Beat grids
Bars are divided into:
1    bar-begin column (for clef/key/timesig)
1    pre-beat column  (for accidentals)
24 x beat duration columns
1    bar-end column
*/

.bar[data-duration="1"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(25, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="1.5"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(37, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="2"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(49, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="2.5"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(61, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="3"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(73, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="3.5"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(85, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="4"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(97, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="4.5"] {
	--breaks: 3;
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(109, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="5"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(121, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="5.5"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(133, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="6"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(145, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="6.5"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(157, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="7"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(169, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar[data-duration="7.5"] {
	grid-template-columns:
		[bar-begin]
		max-content
		repeat(181, minmax(max-content, auto))
		max-content
		[bar-end];
}

.bar::before,
.bar::after {
	content: '';
	width: var(--bar-line-size, 1px);
	background: currentcolor;
	grid-row: stave-top / stave-bottom;
	align-self: stretch;
	margin-top: calc(0.5 * var(--y-size));
	margin-bottom: calc(0.5 * var(--y-size));
}

.bar::before {
	grid-column: bar-begin;
	justify-self: start;
	margin-left: calc(-1 * var(--bar-padding-left));
}

.bar::after {
	grid-column: bar-end;
	justify-self: end;
	margin-right: calc(-1 * var(--bar-padding-right));
}

.safari .bar::after,
:host(.safari) > .bar::after {
	/* Overlap bar lines to disguise Safari rounding errors */
	margin-right: calc(-0.5 * var(--bar-line-size, 1px) - var(--bar-padding-right));
}

.bar > .clef {
	justify-self: start;
	grid-column: 1 / span 1;
	margin-left: calc(-1 * var(--y-size));
	margin-right: calc(2 * var(--y-size));
}

.bar > .timesig {
	justify-self: start;
	grid-column: 1 / span 1;
	margin-left: 0;
	margin-right: calc(3 * var(--y-size));
}

.bar > .clef ~ .timesig {
	margin-left: calc(6 * var(--y-size));
}

/* Column 1 is clef/key/timesig */
/* Column 2 is for anything that inhabits a previous column to a note head. */
.bar > [data-beat^="1"]    { grid-column-start: 3; }
.bar > [data-beat^="1.04"] { grid-column-start: 4; }
.bar > [data-beat^="1.08"] { grid-column-start: 5; }
.bar > [data-beat^="1.12"] { grid-column-start: 6; }
.bar > [data-beat^="1.16"] { grid-column-start: 7; }
.bar > [data-beat^="1.20"] { grid-column-start: 8; }
.bar > [data-beat^="1.25"] { grid-column-start: 9; }
.bar > [data-beat^="1.29"] { grid-column-start: 10; }
.bar > [data-beat^="1.33"] { grid-column-start: 11; }
.bar > [data-beat^="1.37"] { grid-column-start: 12; }
.bar > [data-beat^="1.41"] { grid-column-start: 13; }
.bar > [data-beat^="1.45"] { grid-column-start: 14; }
.bar > [data-beat^="1.5"]  { grid-column-start: 15; }
.bar > [data-beat^="1.54"] { grid-column-start: 16; }
.bar > [data-beat^="1.58"] { grid-column-start: 17; }
.bar > [data-beat^="1.62"] { grid-column-start: 18; }
.bar > [data-beat^="1.66"] { grid-column-start: 19; }
.bar > [data-beat^="1.70"] { grid-column-start: 20; }
.bar > [data-beat^="1.75"] { grid-column-start: 21; }
.bar > [data-beat^="1.79"] { grid-column-start: 22; }
.bar > [data-beat^="1.83"] { grid-column-start: 23; }
.bar > [data-beat^="1.87"] { grid-column-start: 24; }
.bar > [data-beat^="1.91"] { grid-column-start: 25; }
.bar > [data-beat^="1.95"] { grid-column-start: 26; }
.bar > [data-beat^="2"]    { grid-column-start: 27; }
.bar > [data-beat^="2.04"] { grid-column-start: 28; }
.bar > [data-beat^="2.08"] { grid-column-start: 29; }
.bar > [data-beat^="2.12"] { grid-column-start: 30; }
.bar > [data-beat^="2.16"] { grid-column-start: 31; }
.bar > [data-beat^="2.20"] { grid-column-start: 32; }
.bar > [data-beat^="2.25"] { grid-column-start: 33; }
.bar > [data-beat^="2.29"] { grid-column-start: 34; }
.bar > [data-beat^="2.33"] { grid-column-start: 35; }
.bar > [data-beat^="2.37"] { grid-column-start: 36; }
.bar > [data-beat^="2.41"] { grid-column-start: 37; }
.bar > [data-beat^="2.45"] { grid-column-start: 38; }
.bar > [data-beat^="2.5"]  { grid-column-start: 39; }
.bar > [data-beat^="2.54"] { grid-column-start: 40; }
.bar > [data-beat^="2.58"] { grid-column-start: 41; }
.bar > [data-beat^="2.62"] { grid-column-start: 42; }
.bar > [data-beat^="2.66"] { grid-column-start: 43; }
.bar > [data-beat^="2.70"] { grid-column-start: 44; }
.bar > [data-beat^="2.75"] { grid-column-start: 45; }
.bar > [data-beat^="2.79"] { grid-column-start: 46; }
.bar > [data-beat^="2.83"] { grid-column-start: 47; }
.bar > [data-beat^="2.87"] { grid-column-start: 48; }
.bar > [data-beat^="2.91"] { grid-column-start: 49; }
.bar > [data-beat^="2.95"] { grid-column-start: 50; }
.bar > [data-beat^="3"]    { grid-column-start: 51; }
.bar > [data-beat^="3.04"] { grid-column-start: 52; }
.bar > [data-beat^="3.08"] { grid-column-start: 53; }
.bar > [data-beat^="3.12"] { grid-column-start: 54; }
.bar > [data-beat^="3.16"] { grid-column-start: 55; }
.bar > [data-beat^="3.20"] { grid-column-start: 56; }
.bar > [data-beat^="3.25"] { grid-column-start: 57; }
.bar > [data-beat^="3.29"] { grid-column-start: 58; }
.bar > [data-beat^="3.33"] { grid-column-start: 59; }
.bar > [data-beat^="3.37"] { grid-column-start: 60; }
.bar > [data-beat^="3.41"] { grid-column-start: 61; }
.bar > [data-beat^="3.45"] { grid-column-start: 62; }
.bar > [data-beat^="3.5"]  { grid-column-start: 63; }
.bar > [data-beat^="3.54"] { grid-column-start: 64; }
.bar > [data-beat^="3.58"] { grid-column-start: 65; }
.bar > [data-beat^="3.62"] { grid-column-start: 66; }
.bar > [data-beat^="3.66"] { grid-column-start: 67; }
.bar > [data-beat^="3.70"] { grid-column-start: 68; }
.bar > [data-beat^="3.75"] { grid-column-start: 69; }
.bar > [data-beat^="3.79"] { grid-column-start: 70; }
.bar > [data-beat^="3.83"] { grid-column-start: 71; }
.bar > [data-beat^="3.87"] { grid-column-start: 72; }
.bar > [data-beat^="3.91"] { grid-column-start: 73; }
.bar > [data-beat^="3.95"] { grid-column-start: 74; }
.bar > [data-beat^="4"]    { grid-column-start: 75; }
.bar > [data-beat^="4.04"] { grid-column-start: 76; }
.bar > [data-beat^="4.08"] { grid-column-start: 77; }
.bar > [data-beat^="4.12"] { grid-column-start: 78; }
.bar > [data-beat^="4.16"] { grid-column-start: 79; }
.bar > [data-beat^="4.20"] { grid-column-start: 80; }
.bar > [data-beat^="4.25"] { grid-column-start: 81; }
.bar > [data-beat^="4.29"] { grid-column-start: 82; }
.bar > [data-beat^="4.33"] { grid-column-start: 83; }
.bar > [data-beat^="4.37"] { grid-column-start: 84; }
.bar > [data-beat^="4.41"] { grid-column-start: 85; }
.bar > [data-beat^="4.45"] { grid-column-start: 86; }
.bar > [data-beat^="4.5"]  { grid-column-start: 87; }
.bar > [data-beat^="4.54"] { grid-column-start: 88; }
.bar > [data-beat^="4.58"] { grid-column-start: 89; }
.bar > [data-beat^="4.62"] { grid-column-start: 90; }
.bar > [data-beat^="4.66"] { grid-column-start: 91; }
.bar > [data-beat^="4.70"] { grid-column-start: 92; }
.bar > [data-beat^="4.75"] { grid-column-start: 93; }
.bar > [data-beat^="4.79"] { grid-column-start: 94; }
.bar > [data-beat^="4.83"] { grid-column-start: 95; }
.bar > [data-beat^="4.87"] { grid-column-start: 96; }
.bar > [data-beat^="4.91"] { grid-column-start: 97; }
.bar > [data-beat^="4.95"] { grid-column-start: 98; }
.bar > [data-beat^="5"]    { grid-column-start: 99; }
.bar > [data-beat^="5.04"] { grid-column-start: 100; }
.bar > [data-beat^="5.08"] { grid-column-start: 101; }
.bar > [data-beat^="5.12"] { grid-column-start: 102; }
.bar > [data-beat^="5.16"] { grid-column-start: 103; }
.bar > [data-beat^="5.20"] { grid-column-start: 104; }
.bar > [data-beat^="5.25"] { grid-column-start: 105; }
.bar > [data-beat^="5.29"] { grid-column-start: 106; }
.bar > [data-beat^="5.33"] { grid-column-start: 107; }
.bar > [data-beat^="5.37"] { grid-column-start: 108; }
.bar > [data-beat^="5.41"] { grid-column-start: 109; }
.bar > [data-beat^="5.45"] { grid-column-start: 110; }
.bar > [data-beat^="5.5"]  { grid-column-start: 111; }
.bar > [data-beat^="5.54"] { grid-column-start: 112; }
.bar > [data-beat^="5.58"] { grid-column-start: 113; }
.bar > [data-beat^="5.62"] { grid-column-start: 114; }
.bar > [data-beat^="5.66"] { grid-column-start: 115; }
.bar > [data-beat^="5.70"] { grid-column-start: 116; }
.bar > [data-beat^="5.75"] { grid-column-start: 117; }
.bar > [data-beat^="5.79"] { grid-column-start: 118; }
.bar > [data-beat^="5.83"] { grid-column-start: 119; }
.bar > [data-beat^="5.87"] { grid-column-start: 120; }
.bar > [data-beat^="5.91"] { grid-column-start: 121; }
.bar > [data-beat^="5.95"] { grid-column-start: 122; }
.bar > [data-beat^="6"]    { grid-column-start: 123; }
.bar > [data-beat^="6.04"] { grid-column-start: 124; }
.bar > [data-beat^="6.08"] { grid-column-start: 125; }
.bar > [data-beat^="6.12"] { grid-column-start: 126; }
.bar > [data-beat^="6.16"] { grid-column-start: 127; }
.bar > [data-beat^="6.20"] { grid-column-start: 128; }
.bar > [data-beat^="6.25"] { grid-column-start: 129; }
.bar > [data-beat^="6.29"] { grid-column-start: 120; }
.bar > [data-beat^="6.33"] { grid-column-start: 131; }
.bar > [data-beat^="6.37"] { grid-column-start: 132; }
.bar > [data-beat^="6.41"] { grid-column-start: 133; }
.bar > [data-beat^="6.45"] { grid-column-start: 134; }
.bar > [data-beat^="6.5"]  { grid-column-start: 135; }
.bar > [data-beat^="6.54"] { grid-column-start: 136; }
.bar > [data-beat^="6.58"] { grid-column-start: 137; }
.bar > [data-beat^="6.62"] { grid-column-start: 138; }
.bar > [data-beat^="6.66"] { grid-column-start: 139; }
.bar > [data-beat^="6.70"] { grid-column-start: 138; }
.bar > [data-beat^="6.75"] { grid-column-start: 139; }
.bar > [data-beat^="6.79"] { grid-column-start: 140; }
.bar > [data-beat^="6.83"] { grid-column-start: 141; }
.bar > [data-beat^="6.87"] { grid-column-start: 142; }
.bar > [data-beat^="6.91"] { grid-column-start: 143; }
.bar > [data-beat^="6.95"] { grid-column-start: 144; }
.bar > [data-beat^="7"]    { grid-column-start: 145; }
.bar > [data-beat^="7.04"] { grid-column-start: 146; }
.bar > [data-beat^="7.08"] { grid-column-start: 147; }
.bar > [data-beat^="7.12"] { grid-column-start: 148; }
.bar > [data-beat^="7.16"] { grid-column-start: 149; }
.bar > [data-beat^="7.20"] { grid-column-start: 150; }
.bar > [data-beat^="7.25"] { grid-column-start: 151; }
.bar > [data-beat^="7.29"] { grid-column-start: 152; }
.bar > [data-beat^="7.33"] { grid-column-start: 153; }
.bar > [data-beat^="7.37"] { grid-column-start: 154; }
.bar > [data-beat^="7.41"] { grid-column-start: 155; }
.bar > [data-beat^="7.45"] { grid-column-start: 156; }
.bar > [data-beat^="7.5"]  { grid-column-start: 157; }
.bar > [data-beat^="7.54"] { grid-column-start: 158; }
.bar > [data-beat^="7.58"] { grid-column-start: 159; }
.bar > [data-beat^="7.62"] { grid-column-start: 160; }
.bar > [data-beat^="7.66"] { grid-column-start: 161; }
.bar > [data-beat^="7.70"] { grid-column-start: 162; }
.bar > [data-beat^="7.75"] { grid-column-start: 163; }
.bar > [data-beat^="7.79"] { grid-column-start: 164; }
.bar > [data-beat^="7.83"] { grid-column-start: 165; }
.bar > [data-beat^="7.87"] { grid-column-start: 166; }
.bar > [data-beat^="7.91"] { grid-column-start: 167; }
.bar > [data-beat^="7.95"] { grid-column-start: 168; }

.bar > [data-duration="0.125"] { grid-column-end: span 3; }
.bar > [data-duration="0.25"]  { grid-column-end: span 6; }
.bar > [data-duration="0.375"] { grid-column-end: span 9; }
.bar > [data-duration="0.5"]   { grid-column-end: span 12; }
.bar > [data-duration="0.625"] { grid-column-end: span 15; }
.bar > [data-duration="0.75"]  { grid-column-end: span 18; }
.bar > [data-duration="0.875"] { grid-column-end: span 21; }
.bar > [data-duration="1"]     { grid-column-end: span 24; }
.bar > [data-duration="1.125"] { grid-column-end: span 27; }
.bar > [data-duration="1.25"]  { grid-column-end: span 30; }
.bar > [data-duration="1.375"] { grid-column-end: span 33; }
.bar > [data-duration="1.5"]   { grid-column-end: span 36; }
.bar > [data-duration="1.625"] { grid-column-end: span 39; }
.bar > [data-duration="1.75"]  { grid-column-end: span 42; }
.bar > [data-duration="1.875"] { grid-column-end: span 45; }
.bar > [data-duration="2"]     { grid-column-end: span 48; }
.bar > [data-duration="2.125"] { grid-column-end: span 51; }
.bar > [data-duration="2.25"]  { grid-column-end: span 54; }
.bar > [data-duration="2.375"] { grid-column-end: span 57; }
.bar > [data-duration="2.5"]   { grid-column-end: span 60; }
.bar > [data-duration="2.625"] { grid-column-end: span 63; }
.bar > [data-duration="2.75"]  { grid-column-end: span 66; }
.bar > [data-duration="2.875"] { grid-column-end: span 69; }
.bar > [data-duration="3"]     { grid-column-end: span 72; }
.bar > [data-duration="3.5"]   { grid-column-end: span 84; }
.bar > [data-duration="4"]     { grid-column-end: span 96; }
.bar > [data-duration="6"]     { grid-column-end: span 144; }
.bar > [data-duration="8"]     { grid-column-end: span 192; }

.bar > .head,
.bar > .stem,
.bar > .tail,
.bar > .ledge {
	grid-column-end: span 1;
	justify-self: start;
	margin-left:  var(--head-margin-left);
}

.bar > .head {
	margin-right: var(--head-margin-right);
}

.bar > .head:last-child {
	margin-right: 0;
}

.bar > .up-tail {
	margin-right: calc(2.5 * var(--y-size));
}

.bar > .down-tail {
	margin-right: calc(0.75 * var(--y-size));
}

.bar > .acci {
	grid-column-end: span 1;
	justify-self: end;
	margin-left:  var(--acci-margin-left);
	/* Accidentals must have column gap and head margin on their right negated
	   before adding the proper margin, becuase they are aligned to the end of
	   the column before their head. */
	margin-right: calc(-1 * var(--bar-column-gap) - var(--head-margin-left) + var(--acci-margin-right));
}

.bar > .acci + .acci {
	/* Attempt to space adjacent accidentals. */
	margin-right: 0.4em;
}

/*  Map accidentals to the previous column */
.bar > .acci[data-beat^="1"]    { grid-column-start: 2; }
.bar > .acci[data-beat^="1.04"] { grid-column-start: 3; }
.bar > .acci[data-beat^="1.08"] { grid-column-start: 4; }
.bar > .acci[data-beat^="1.12"] { grid-column-start: 5; }
.bar > .acci[data-beat^="1.16"] { grid-column-start: 6; }
.bar > .acci[data-beat^="1.20"] { grid-column-start: 7; }
.bar > .acci[data-beat^="1.25"] { grid-column-start: 8; }
.bar > .acci[data-beat^="1.29"] { grid-column-start: 9; }
.bar > .acci[data-beat^="1.33"] { grid-column-start: 10; }
.bar > .acci[data-beat^="1.37"] { grid-column-start: 11; }
.bar > .acci[data-beat^="1.41"] { grid-column-start: 12; }
.bar > .acci[data-beat^="1.45"] { grid-column-start: 13; }
.bar > .acci[data-beat^="1.5"]  { grid-column-start: 14; }
.bar > .acci[data-beat^="1.54"] { grid-column-start: 15; }
.bar > .acci[data-beat^="1.58"] { grid-column-start: 16; }
.bar > .acci[data-beat^="1.62"] { grid-column-start: 17; }
.bar > .acci[data-beat^="1.66"] { grid-column-start: 18; }
.bar > .acci[data-beat^="1.70"] { grid-column-start: 19; }
.bar > .acci[data-beat^="1.75"] { grid-column-start: 20; }
.bar > .acci[data-beat^="1.79"] { grid-column-start: 21; }
.bar > .acci[data-beat^="1.83"] { grid-column-start: 22; }
.bar > .acci[data-beat^="1.87"] { grid-column-start: 23; }
.bar > .acci[data-beat^="1.91"] { grid-column-start: 24; }
.bar > .acci[data-beat^="1.95"] { grid-column-start: 25; }
.bar > .acci[data-beat^="2"]    { grid-column-start: 26; }
.bar > .acci[data-beat^="2.04"] { grid-column-start: 27; }
.bar > .acci[data-beat^="2.08"] { grid-column-start: 28; }
.bar > .acci[data-beat^="2.12"] { grid-column-start: 29; }
.bar > .acci[data-beat^="2.16"] { grid-column-start: 30; }
.bar > .acci[data-beat^="2.20"] { grid-column-start: 31; }
.bar > .acci[data-beat^="2.25"] { grid-column-start: 32; }
.bar > .acci[data-beat^="2.29"] { grid-column-start: 33; }
.bar > .acci[data-beat^="2.33"] { grid-column-start: 34; }
.bar > .acci[data-beat^="2.37"] { grid-column-start: 35; }
.bar > .acci[data-beat^="2.41"] { grid-column-start: 36; }
.bar > .acci[data-beat^="2.45"] { grid-column-start: 37; }
.bar > .acci[data-beat^="2.5"]  { grid-column-start: 38; }
.bar > .acci[data-beat^="2.54"] { grid-column-start: 39; }
.bar > .acci[data-beat^="2.58"] { grid-column-start: 40; }
.bar > .acci[data-beat^="2.62"] { grid-column-start: 41; }
.bar > .acci[data-beat^="2.66"] { grid-column-start: 42; }
.bar > .acci[data-beat^="2.70"] { grid-column-start: 43; }
.bar > .acci[data-beat^="2.75"] { grid-column-start: 44; }
.bar > .acci[data-beat^="2.79"] { grid-column-start: 45; }
.bar > .acci[data-beat^="2.83"] { grid-column-start: 46; }
.bar > .acci[data-beat^="2.87"] { grid-column-start: 47; }
.bar > .acci[data-beat^="2.91"] { grid-column-start: 48; }
.bar > .acci[data-beat^="2.95"] { grid-column-start: 49; }
.bar > .acci[data-beat^="3"]    { grid-column-start: 50; }
.bar > .acci[data-beat^="3.04"] { grid-column-start: 51; }
.bar > .acci[data-beat^="3.08"] { grid-column-start: 52; }
.bar > .acci[data-beat^="3.12"] { grid-column-start: 53; }
.bar > .acci[data-beat^="3.16"] { grid-column-start: 54; }
.bar > .acci[data-beat^="3.20"] { grid-column-start: 55; }
.bar > .acci[data-beat^="3.25"] { grid-column-start: 56; }
.bar > .acci[data-beat^="3.29"] { grid-column-start: 57; }
.bar > .acci[data-beat^="3.33"] { grid-column-start: 58; }
.bar > .acci[data-beat^="3.37"] { grid-column-start: 59; }
.bar > .acci[data-beat^="3.41"] { grid-column-start: 60; }
.bar > .acci[data-beat^="3.45"] { grid-column-start: 61; }
.bar > .acci[data-beat^="3.5"]  { grid-column-start: 62; }
.bar > .acci[data-beat^="3.54"] { grid-column-start: 63; }
.bar > .acci[data-beat^="3.58"] { grid-column-start: 64; }
.bar > .acci[data-beat^="3.62"] { grid-column-start: 65; }
.bar > .acci[data-beat^="3.66"] { grid-column-start: 66; }
.bar > .acci[data-beat^="3.70"] { grid-column-start: 67; }
.bar > .acci[data-beat^="3.75"] { grid-column-start: 68; }
.bar > .acci[data-beat^="3.79"] { grid-column-start: 69; }
.bar > .acci[data-beat^="3.83"] { grid-column-start: 70; }
.bar > .acci[data-beat^="3.87"] { grid-column-start: 71; }
.bar > .acci[data-beat^="3.91"] { grid-column-start: 72; }
.bar > .acci[data-beat^="3.95"] { grid-column-start: 73; }
.bar > .acci[data-beat^="4"]    { grid-column-start: 74; }
.bar > .acci[data-beat^="4.04"] { grid-column-start: 75; }
.bar > .acci[data-beat^="4.08"] { grid-column-start: 76; }
.bar > .acci[data-beat^="4.12"] { grid-column-start: 77; }
.bar > .acci[data-beat^="4.16"] { grid-column-start: 78; }
.bar > .acci[data-beat^="4.20"] { grid-column-start: 79; }
.bar > .acci[data-beat^="4.25"] { grid-column-start: 80; }
.bar > .acci[data-beat^="4.29"] { grid-column-start: 81; }
.bar > .acci[data-beat^="4.33"] { grid-column-start: 82; }
.bar > .acci[data-beat^="4.37"] { grid-column-start: 83; }
.bar > .acci[data-beat^="4.41"] { grid-column-start: 84; }
.bar > .acci[data-beat^="4.45"] { grid-column-start: 85; }
.bar > .acci[data-beat^="4.5"]  { grid-column-start: 86; }
.bar > .acci[data-beat^="4.54"] { grid-column-start: 87; }
.bar > .acci[data-beat^="4.58"] { grid-column-start: 88; }
.bar > .acci[data-beat^="4.62"] { grid-column-start: 89; }
.bar > .acci[data-beat^="4.66"] { grid-column-start: 90; }
.bar > .acci[data-beat^="4.70"] { grid-column-start: 91; }
.bar > .acci[data-beat^="4.75"] { grid-column-start: 92; }
.bar > .acci[data-beat^="4.79"] { grid-column-start: 93; }
.bar > .acci[data-beat^="4.83"] { grid-column-start: 94; }
.bar > .acci[data-beat^="4.87"] { grid-column-start: 95; }
.bar > .acci[data-beat^="4.91"] { grid-column-start: 96; }
.bar > .acci[data-beat^="4.95"] { grid-column-start: 97; }
.bar > .acci[data-beat^="5"]    { grid-column-start: 98; }
.bar > .acci[data-beat^="5.04"] { grid-column-start: 99; }
.bar > .acci[data-beat^="5.08"] { grid-column-start: 100; }
.bar > .acci[data-beat^="5.12"] { grid-column-start: 101; }
.bar > .acci[data-beat^="5.16"] { grid-column-start: 102; }
.bar > .acci[data-beat^="5.20"] { grid-column-start: 103; }
.bar > .acci[data-beat^="5.25"] { grid-column-start: 104; }
.bar > .acci[data-beat^="5.29"] { grid-column-start: 105; }
.bar > .acci[data-beat^="5.33"] { grid-column-start: 106; }
.bar > .acci[data-beat^="5.37"] { grid-column-start: 107; }
.bar > .acci[data-beat^="5.41"] { grid-column-start: 108; }
.bar > .acci[data-beat^="5.45"] { grid-column-start: 109; }
.bar > .acci[data-beat^="5.5"]  { grid-column-start: 110; }
.bar > .acci[data-beat^="5.54"] { grid-column-start: 111; }
.bar > .acci[data-beat^="5.58"] { grid-column-start: 112; }
.bar > .acci[data-beat^="5.62"] { grid-column-start: 113; }
.bar > .acci[data-beat^="5.66"] { grid-column-start: 114; }
.bar > .acci[data-beat^="5.70"] { grid-column-start: 115; }
.bar > .acci[data-beat^="5.75"] { grid-column-start: 116; }
.bar > .acci[data-beat^="5.79"] { grid-column-start: 117; }
.bar > .acci[data-beat^="5.83"] { grid-column-start: 118; }
.bar > .acci[data-beat^="5.87"] { grid-column-start: 119; }
.bar > .acci[data-beat^="5.91"] { grid-column-start: 120; }
.bar > .acci[data-beat^="5.95"] { grid-column-start: 121; }
.bar > .acci[data-beat^="6"]    { grid-column-start: 122; }
.bar > .acci[data-beat^="6.04"] { grid-column-start: 123; }
.bar > .acci[data-beat^="6.08"] { grid-column-start: 124; }
.bar > .acci[data-beat^="6.12"] { grid-column-start: 125; }
.bar > .acci[data-beat^="6.16"] { grid-column-start: 126; }
.bar > .acci[data-beat^="6.20"] { grid-column-start: 127; }
.bar > .acci[data-beat^="6.25"] { grid-column-start: 128; }
.bar > .acci[data-beat^="6.29"] { grid-column-start: 129; }
.bar > .acci[data-beat^="6.33"] { grid-column-start: 120; }
.bar > .acci[data-beat^="6.37"] { grid-column-start: 131; }
.bar > .acci[data-beat^="6.41"] { grid-column-start: 132; }
.bar > .acci[data-beat^="6.45"] { grid-column-start: 133; }
.bar > .acci[data-beat^="6.5"]  { grid-column-start: 134; }
.bar > .acci[data-beat^="6.54"] { grid-column-start: 135; }
.bar > .acci[data-beat^="6.58"] { grid-column-start: 136; }
.bar > .acci[data-beat^="6.62"] { grid-column-start: 137; }
.bar > .acci[data-beat^="6.66"] { grid-column-start: 138; }
.bar > .acci[data-beat^="6.70"] { grid-column-start: 139; }
.bar > .acci[data-beat^="6.75"] { grid-column-start: 138; }
.bar > .acci[data-beat^="6.79"] { grid-column-start: 139; }
.bar > .acci[data-beat^="6.83"] { grid-column-start: 140; }
.bar > .acci[data-beat^="6.87"] { grid-column-start: 141; }
.bar > .acci[data-beat^="6.91"] { grid-column-start: 142; }
.bar > .acci[data-beat^="6.95"] { grid-column-start: 143; }
.bar > .acci[data-beat^="7"]    { grid-column-start: 144; }
.bar > .acci[data-beat^="7.04"] { grid-column-start: 145; }
.bar > .acci[data-beat^="7.08"] { grid-column-start: 146; }
.bar > .acci[data-beat^="7.12"] { grid-column-start: 147; }
.bar > .acci[data-beat^="7.16"] { grid-column-start: 148; }
.bar > .acci[data-beat^="7.20"] { grid-column-start: 149; }
.bar > .acci[data-beat^="7.25"] { grid-column-start: 150; }
.bar > .acci[data-beat^="7.29"] { grid-column-start: 151; }
.bar > .acci[data-beat^="7.33"] { grid-column-start: 152; }
.bar > .acci[data-beat^="7.37"] { grid-column-start: 153; }
.bar > .acci[data-beat^="7.41"] { grid-column-start: 154; }
.bar > .acci[data-beat^="7.45"] { grid-column-start: 155; }
.bar > .acci[data-beat^="7.5"]  { grid-column-start: 156; }
.bar > .acci[data-beat^="7.54"] { grid-column-start: 157; }
.bar > .acci[data-beat^="7.58"] { grid-column-start: 158; }
.bar > .acci[data-beat^="7.62"] { grid-column-start: 159; }
.bar > .acci[data-beat^="7.66"] { grid-column-start: 160; }
.bar > .acci[data-beat^="7.70"] { grid-column-start: 161; }
.bar > .acci[data-beat^="7.75"] { grid-column-start: 162; }
.bar > .acci[data-beat^="7.79"] { grid-column-start: 163; }
.bar > .acci[data-beat^="7.83"] { grid-column-start: 164; }
.bar > .acci[data-beat^="7.87"] { grid-column-start: 165; }
.bar > .acci[data-beat^="7.91"] { grid-column-start: 166; }
.bar > .acci[data-beat^="7.95"] { grid-column-start: 167; }

.bar > .ledge {
	width: auto;
	/* Make ledger take up same space as head */
	margin-left:  calc(var(--head-margin-left) - 1 * var(--y-size));
	margin-right: calc(-1 * var(--y-size));
}


/* Rests
Short rests inhabit one column, longer rests are centered
in their duration span. */

.bar > .rest {
	justify-self: start;
}

.bar > .rest[data-duration="0.125"],
.bar > .rest[data-duration="0.25"],
.bar > .rest[data-duration="0.375"],
.bar > .rest[data-duration="0.5"],
.bar > .rest[data-duration="0.75"],
.bar > .rest[data-duration="0.875"],
.bar > .rest[data-duration="1"],
.bar > .rest[data-duration="1.5"],
.bar > .rest[data-duration="1.75"] {
	grid-column-end: span 1;
	margin-left:  calc(var(--head-margin-left) + 0.125 * var(--y-size));
	margin-right: calc(0.125 * var(--y-size))
}

.bar > .rest[data-duration="2"],
.bar > .rest[data-duration="3"],
.bar > .rest[data-duration="3.5"],
.bar > .rest[data-duration="4"],
.bar > .rest[data-duration="6"],
.bar > .rest[data-duration="7"],
.bar > .rest[data-duration="8"] {
	justify-self: center;
	margin-left: 1.25em;
	margin-right: 1.25em;
}

/* Beams */

.bar > .beam {
	justify-self: stretch;
	width: auto;
	max-width: none;
}

.bar > .up-beam {
	margin-left:  calc(var(--head-margin-left) + 2.7 * var(--y-size) - var(--stem-thickness));
	margin-right: calc(-1 * var(--head-margin-left) - var(--bar-column-gap, 0.03125em) - 2.7 * var(--y-size));
}

.bar > .down-beam {
	margin-left:  var(--head-margin-left);
	margin-right: calc(-1 * var(--head-margin-left) - var(--bar-column-gap, 0.03125em) - var(--stem-thickness));
}

/* Words */

.bar > .chord {
	justify-self: start;
	margin-right: 0.25em;
}

.bar > .lyric {
	justify-self: start;
	/* Move them just ahead of heads */
	margin-left: calc(var(--head-margin-left) - 1px);
	margin-right: 0.25em;
}

.bar > .tie {
	justify-self: stretch;

	/* Make tie span from centre of one head to centre of next. A tie to the
	   next bar ends in the bar end column. */
	/* - column gap - half of head width */
	margin-left: calc(var(--head-margin-left) + 2.7 * var(--y-size));
	/* - bar start gap - half of head width */
	margin-right: calc(-3 * var(--y-size));
	min-width: calc(4 * var(--y-size));
}
