.beam {
    vector-effect: non-scaling-stroke;
    stroke: black;
    stroke-width: 0;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: black;
}

.up-beam > .beam-path-16th {
    transform: translateY(1.6666667px);
}

.down-beam > .beam-path-16th {
    transform: translateY(-1.6666667px);
}
