

#ledges > line {
    vector-effect: non-scaling-stroke;
    stroke:currentcolor;
    stroke-width: 1.2px;
    stroke-linejoin:round;
    stroke-linecap:round;
    fill:none;
}

.ledge {
    overflow: hidden;
    width: calc(4.4 * var(--y-size));
    vector-effect: non-scaling-stroke;
    stroke:currentcolor;
    stroke-width:0.0625em;
    stroke-linejoin:round;
    stroke-linecap:round;
    fill:none;
}

.up-ledge {
    stroke: red;
    strike-width: 2px;
}

.down-ledge {
    stroke: red;
    stroke-width: 2px;
}
