                                        [data-pitch^="B"][data-pitch$="9"]  { grid-row-start: B9; }
                                        [data-pitch^="A"][data-pitch$="9"]  { grid-row-start: A9; }
                                        [data-pitch^="G"][data-pitch$="9"]  { grid-row-start: G9; }
                                        [data-pitch^="F"][data-pitch$="9"]  { grid-row-start: F9; }
                                        [data-pitch^="E"][data-pitch$="9"]  { grid-row-start: E9; }
                                        [data-pitch^="D"][data-pitch$="9"]  { grid-row-start: D9; }
                                        [data-pitch^="C"][data-pitch$="9"]  { grid-row-start: C9; }
                                        [data-pitch^="B"][data-pitch$="8"]  { grid-row-start: B8; }
                                        [data-pitch^="A"][data-pitch$="8"]  { grid-row-start: A8; }
                                        [data-pitch^="G"][data-pitch$="8"]  { grid-row-start: G8; }
                                        [data-pitch^="F"][data-pitch$="8"]  { grid-row-start: F8; }
                                        [data-pitch^="E"][data-pitch$="8"]  { grid-row-start: E8; }
                                        [data-pitch^="D"][data-pitch$="8"]  { grid-row-start: D8; }
                                        [data-pitch^="C"][data-pitch$="8"]  { grid-row-start: C8; }
                                        [data-pitch^="B"][data-pitch$="7"]  { grid-row-start: B7; }
                                        [data-pitch^="A"][data-pitch$="7"]  { grid-row-start: A7; }
                                        [data-pitch^="G"][data-pitch$="7"]  { grid-row-start: G7; }
                                        [data-pitch^="F"][data-pitch$="7"]  { grid-row-start: F7; }
                                        [data-pitch^="E"][data-pitch$="7"]  { grid-row-start: E7; }
                                        [data-pitch^="D"][data-pitch$="7"]  { grid-row-start: D7; }
                                        [data-pitch^="C"][data-pitch$="7"]  { grid-row-start: C7; }
                                        [data-pitch^="B"][data-pitch$="6"]  { grid-row-start: B6; }
                                        [data-pitch^="A"][data-pitch$="6"]  { grid-row-start: A6; }
                                        [data-pitch^="G"][data-pitch$="6"]  { grid-row-start: G6; }
                                        [data-pitch^="F"][data-pitch$="6"]  { grid-row-start: F6; }
                                        [data-pitch^="E"][data-pitch$="6"]  { grid-row-start: E6; }
                                        [data-pitch^="D"][data-pitch$="6"]  { grid-row-start: D6; }
                                        [data-pitch^="C"][data-pitch$="6"]  { grid-row-start: C6; }
                                        [data-pitch^="B"][data-pitch$="5"]  { grid-row-start: B5; }
                                        [data-pitch^="A"][data-pitch$="5"]  { grid-row-start: A5; }
                                        [data-pitch^="G"][data-pitch$="5"]  { grid-row-start: G5; }
                                        [data-pitch^="F"][data-pitch$="5"]  { grid-row-start: F5; }
                                        [data-pitch^="E"][data-pitch$="5"]  { grid-row-start: E5; }
                                        [data-pitch^="D"][data-pitch$="5"]  { grid-row-start: D5; }
                                        [data-pitch^="C"][data-pitch$="5"]  { grid-row-start: C5; }
                                        [data-pitch^="B"][data-pitch$="4"]  { grid-row-start: B4; }
[data-pitch="69"],                      [data-pitch^="A"][data-pitch$="4"]  { grid-row-start: A4; }
                                        [data-pitch^="G"][data-pitch$="4"]  { grid-row-start: G4; }
                                        [data-pitch^="F"][data-pitch$="4"]  { grid-row-start: F4; }
                                        [data-pitch^="E"][data-pitch$="4"]  { grid-row-start: E4; }
                                        [data-pitch^="D"][data-pitch$="4"]  { grid-row-start: D4; }
[data-pitch="60"],  [data-pitch="61"],  [data-pitch^="C"][data-pitch$="4"]  { grid-row-start: C4; }
[data-pitch="59"],  [data-pitch="58"],  [data-pitch^="B"][data-pitch$="3"]  { grid-row-start: B3; }
[data-pitch="57"],                      [data-pitch^="A"][data-pitch$="3"]  { grid-row-start: A3; }
[data-pitch="56"],  [data-pitch="55"],  [data-pitch^="G"][data-pitch$="3"]  { grid-row-start: G3; }
[data-pitch="54"],  [data-pitch="53"],  [data-pitch^="F"][data-pitch$="3"]  { grid-row-start: F3; }
[data-pitch="52"],  [data-pitch="51"],  [data-pitch^="E"][data-pitch$="3"]  { grid-row-start: E3; }
[data-pitch="50"],                      [data-pitch^="D"][data-pitch$="3"]  { grid-row-start: D3; }
[data-pitch="49"],  [data-pitch="48"],  [data-pitch^="C"][data-pitch$="3"]  { grid-row-start: C3; }
                                        [data-pitch^="B"][data-pitch$="2"]  { grid-row-start: B2; }
                                        [data-pitch^="A"][data-pitch$="2"]  { grid-row-start: A2; }
                                        [data-pitch^="G"][data-pitch$="2"]  { grid-row-start: G2; }
                                        [data-pitch^="F"][data-pitch$="2"]  { grid-row-start: F2; }
                                        [data-pitch^="E"][data-pitch$="2"]  { grid-row-start: E2; }
                                        [data-pitch^="D"][data-pitch$="2"]  { grid-row-start: D2; }
                                        [data-pitch^="C"][data-pitch$="2"]  { grid-row-start: C2; }
                                        [data-pitch^="B"][data-pitch$="1"]  { grid-row-start: B1; }
                                        [data-pitch^="A"][data-pitch$="1"]  { grid-row-start: A1; }
                                        [data-pitch^="G"][data-pitch$="1"]  { grid-row-start: G1; }
                                        [data-pitch^="F"][data-pitch$="1"]  { grid-row-start: F1; }
                                        [data-pitch^="E"][data-pitch$="1"]  { grid-row-start: E1; }
                                        [data-pitch^="D"][data-pitch$="1"]  { grid-row-start: D1; }
                                        [data-pitch^="C"][data-pitch$="1"]  { grid-row-start: C1; }
                                        [data-pitch^="B"][data-pitch$="0"]  { grid-row-start: B0; }
                                        [data-pitch^="A"][data-pitch$="0"]  { grid-row-start: A0; }
                                        [data-pitch^="G"][data-pitch$="0"]  { grid-row-start: G0; }
                                        [data-pitch^="F"][data-pitch$="0"]  { grid-row-start: F0; }
                                        [data-pitch^="E"][data-pitch$="0"]  { grid-row-start: E0; }
                                        [data-pitch^="D"][data-pitch$="0"]  { grid-row-start: D0; }
                                        [data-pitch^="C"][data-pitch$="0"]  { grid-row-start: C0; }
                                        [data-pitch^="B"][data-pitch$="-1"] { grid-row-start: B-1; }
                                        [data-pitch^="A"][data-pitch$="-1"] { grid-row-start: A-1; }
                                        [data-pitch^="G"][data-pitch$="-1"] { grid-row-start: G-1; }
                                        [data-pitch^="F"][data-pitch$="-1"] { grid-row-start: F-1; }
                                        [data-pitch^="E"][data-pitch$="-1"] { grid-row-start: E-1; }
                                        [data-pitch^="D"][data-pitch$="-1"] { grid-row-start: D-1; }
                                        [data-pitch^="C"][data-pitch$="-1"] { grid-row-start: C-1; }
                                        [data-pitch^="B"][data-pitch$="-2"] { grid-row-start: B-2; }
                                        [data-pitch^="A"][data-pitch$="-2"] { grid-row-start: A-2; }
                                        [data-pitch^="G"][data-pitch$="-2"] { grid-row-start: G-2; }
                                        [data-pitch^="F"][data-pitch$="-2"] { grid-row-start: F-2; }
                                        [data-pitch^="E"][data-pitch$="-2"] { grid-row-start: E-2; }
                                        [data-pitch^="D"][data-pitch$="-2"] { grid-row-start: D-2; }
                                        [data-pitch^="C"][data-pitch$="-2"] { grid-row-start: C-2; }
