.stave {
    /* 4px per row means 8px per line, 32px stave */
    --y-size: 0.25em;
    --stem-size: 7;

    display: grid;
    grid-auto-rows: var(--y-size);
    row-gap: 0;
}

.stave::before {
    content: '';

    background-repeat: repeat-x;
    background-size: 100% 100%;

    /* FF won't stretch SVG */
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -4.5 1 9" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.0625em;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
        <line x1="0" x2="1" y1="4" y2="4"></line>\
        <line x1="0" x2="1" y1="2" y2="2"></line>\
        <line x1="0" x2="1" y1="0" y2="0"></line>\
        <line x1="0" x2="1" y1="-2" y2="-2"></line>\
        <line x1="0" x2="1" y1="-4" y2="-4"></line>\
        <line x1="0" x2="0" y1="-4" y2="4"></line>\
        <line x1="1" x2="1" y1="-4" y2="4"></line>\
    </svg>');

    grid-column: 1 / bar-end;
    grid-row: stave-top / stave-bottom;
}

.stave > svg {
    grid-column: 1 / span -1;
    grid-row: stave-top / stave-bottom;
    overflow: visible;
}

.stave > .head {
    justify-self: end;
    align-self: center;
}

.stave > .chord {
    grid-row: chords;
    align-self: end;
    margin-top: 0;
    margin-bottom: 0;
}

.stave > .acci {
    justify-self: start;
    align-self: center;
    /* Create space for following note head, which is justified to end */
    margin-right: calc(3.5 * var(--y-size));
}

.stave > .stem {
    justify-self: end;
    align-self: center;
}

.stave > .up-stem {
    align-self: end;
    margin-bottom: calc(0.5 * var(--y-size));
}

.stave > .down-stem {
    align-self: start;
    margin-top: calc(0.5 * var(--y-size));
}

.stave > .ledge {
    overflow: hidden;
}

.stave > .up-ledge {
    align-self: start;
}

.stave > .down-ledge {
    align-self: end;
}

.stave > .tail {
    justify-self: end;
    align-self: center;
}

.stave > .beam {
    align-self: stretch;
    width: auto;
}

.stave > .up-beam {
    position: relative;
    top: calc(-1 * var(--stem-size) * var(--y-size));
}

.stave > .down-beam {
    position: relative;
    top: calc(var(--stem-size) * var(--y-size));
}

.stave > .rest {
    grid-row: stave-center;
    align-self: center;
}

.stave > .tie,
.stave > .down-tie {
    align-self: start;
    margin-top: calc(1.8 * var(--y-size));
}

.stave > .up-tie {
    align-self: end;
    margin-bottom: calc(1.8 * var(--y-size));
}

.stave > [data-pitch="127"],
.stave > [data-pitch^="G"][data-pitch$="9"] { grid-row: G9; }
.stave > [data-pitch="126"],
.stave > [data-pitch="125"],
.stave > [data-pitch^="F"][data-pitch$="9"] { grid-row: F9; }
.stave > [data-pitch="124"],
.stave > [data-pitch="123"],
.stave > [data-pitch^="E"][data-pitch$="9"] { grid-row: E9; }
.stave > [data-pitch="122"],
.stave > [data-pitch^="D"][data-pitch$="9"] { grid-row: D9; }
.stave > [data-pitch="121"],
.stave > [data-pitch="120"],
.stave > [data-pitch^="C"][data-pitch$="9"] { grid-row: C9; }
.stave > [data-pitch="119"],
.stave > [data-pitch="118"],
.stave > [data-pitch^="B"][data-pitch$="8"] { grid-row: B8; }
.stave > [data-pitch="117"],
.stave > [data-pitch^="A"][data-pitch$="8"] { grid-row: A8; }
.stave > [data-pitch="116"],
.stave > [data-pitch="115"],
.stave > [data-pitch^="G"][data-pitch$="8"] { grid-row: G8; }
.stave > [data-pitch="114"],
.stave > [data-pitch="113"],
.stave > [data-pitch^="F"][data-pitch$="8"] { grid-row: F8; }
.stave > [data-pitch="112"],
.stave > [data-pitch="111"],
.stave > [data-pitch^="E"][data-pitch$="8"] { grid-row: E8; }
.stave > [data-pitch="110"],
.stave > [data-pitch^="D"][data-pitch$="8"] { grid-row: D8; }
.stave > [data-pitch="109"],
.stave > [data-pitch="108"],
.stave > [data-pitch^="C"][data-pitch$="8"] { grid-row: C8; }
.stave > [data-pitch="107"],
.stave > [data-pitch="106"],
.stave > [data-pitch^="B"][data-pitch$="7"] { grid-row: B7; }
.stave > [data-pitch="105"],
.stave > [data-pitch^="A"][data-pitch$="7"] { grid-row: A7; }
.stave > [data-pitch="104"],
.stave > [data-pitch="103"],
.stave > [data-pitch^="G"][data-pitch$="7"] { grid-row: G7; }
.stave > [data-pitch="102"],
.stave > [data-pitch="101"],
.stave > [data-pitch^="F"][data-pitch$="7"] { grid-row: F7; }
.stave > [data-pitch="100"],
.stave > [data-pitch="99"],
.stave > [data-pitch^="E"][data-pitch$="7"] { grid-row: E7; }
.stave > [data-pitch="98"],
.stave > [data-pitch^="D"][data-pitch$="7"] { grid-row: D7; }
.stave > [data-pitch="97"],
.stave > [data-pitch="96"],
.stave > [data-pitch^="C"][data-pitch$="7"] { grid-row: C7; }
.stave > [data-pitch="95"],
.stave > [data-pitch="94"],
.stave > [data-pitch^="B"][data-pitch$="6"] { grid-row: B6; }
.stave > [data-pitch="93"],
.stave > [data-pitch^="A"][data-pitch$="6"] { grid-row: A6; }
.stave > [data-pitch="92"],
.stave > [data-pitch="91"],
.stave > [data-pitch^="G"][data-pitch$="6"] { grid-row: G6; }
.stave > [data-pitch="90"],
.stave > [data-pitch="89"],
.stave > [data-pitch^="F"][data-pitch$="6"] { grid-row: F6; }
.stave > [data-pitch="88"],
.stave > [data-pitch="87"],
.stave > [data-pitch^="E"][data-pitch$="6"] { grid-row: E6; }
.stave > [data-pitch="86"],
.stave > [data-pitch^="D"][data-pitch$="6"] { grid-row: D6; }
.stave > [data-pitch="85"],
.stave > [data-pitch="84"],
.stave > [data-pitch^="C"][data-pitch$="6"] { grid-row: C6; }
.stave > [data-pitch="83"],
.stave > [data-pitch="82"],
.stave > [data-pitch^="B"][data-pitch$="5"] { grid-row: B5; }
.stave > [data-pitch="81"],
.stave > [data-pitch^="A"][data-pitch$="5"] { grid-row: A5; }
.stave > [data-pitch="80"],
.stave > [data-pitch="79"],
.stave > [data-pitch^="G"][data-pitch$="5"] { grid-row: G5; }
.stave > [data-pitch="78"],
.stave > [data-pitch="77"],
.stave > [data-pitch^="F"][data-pitch$="5"] { grid-row: F5; }
.stave > [data-pitch="76"],
.stave > [data-pitch="75"],
.stave > [data-pitch^="E"][data-pitch$="5"] { grid-row: E5; }
.stave > [data-pitch="74"],
.stave > [data-pitch^="D"][data-pitch$="5"] { grid-row: D5; }
.stave > [data-pitch="73"],
.stave > [data-pitch="72"],
.stave > [data-pitch^="C"][data-pitch$="5"] { grid-row: C5; }
.stave > [data-pitch="71"],
.stave > [data-pitch="70"],
.stave > [data-pitch^="B"][data-pitch$="4"] { grid-row: B4; }
.stave > [data-pitch="69"],
.stave > [data-pitch^="A"][data-pitch$="4"] { grid-row: A4; }
.stave > [data-pitch="68"],
.stave > [data-pitch="67"],
.stave > [data-pitch^="G"][data-pitch$="4"] { grid-row: G4; }
.stave > [data-pitch="66"],
.stave > [data-pitch="65"],
.stave > [data-pitch^="F"][data-pitch$="4"] { grid-row: F4; }
.stave > [data-pitch="64"],
.stave > [data-pitch="63"],
.stave > [data-pitch^="E"][data-pitch$="4"] { grid-row: E4; }
.stave > [data-pitch="62"],
.stave > [data-pitch^="D"][data-pitch$="4"] { grid-row: D4; }
.stave > [data-pitch="61"],
.stave > [data-pitch="60"],
.stave > [data-pitch^="C"][data-pitch$="4"] { grid-row: C4; }
.stave > [data-pitch="59"],
.stave > [data-pitch="58"],
.stave > [data-pitch^="B"][data-pitch$="3"] { grid-row: B3; }
.stave > [data-pitch="57"],
.stave > [data-pitch^="A"][data-pitch$="3"] { grid-row: A3; }
.stave > [data-pitch="56"],
.stave > [data-pitch="55"],
.stave > [data-pitch^="G"][data-pitch$="3"] { grid-row: G3; }
.stave > [data-pitch="54"],
.stave > [data-pitch="53"],
.stave > [data-pitch^="F"][data-pitch$="3"] { grid-row: F3; }
.stave > [data-pitch="52"],
.stave > [data-pitch="51"],
.stave > [data-pitch^="E"][data-pitch$="3"] { grid-row: E3; }
.stave > [data-pitch="50"],
.stave > [data-pitch^="D"][data-pitch$="3"] { grid-row: D3; }
.stave > [data-pitch="49"],
.stave > [data-pitch="48"],
.stave > [data-pitch^="C"][data-pitch$="3"] { grid-row: C3; }
.stave > [data-pitch="47"],
.stave > [data-pitch="46"],
.stave > [data-pitch^="B"][data-pitch$="2"] { grid-row: B2; }
.stave > [data-pitch="45"],
.stave > [data-pitch^="A"][data-pitch$="2"] { grid-row: A2; }
.stave > [data-pitch="44"],
.stave > [data-pitch="43"],
.stave > [data-pitch^="G"][data-pitch$="2"] { grid-row: G2; }
.stave > [data-pitch="42"],
.stave > [data-pitch="41"],
.stave > [data-pitch^="F"][data-pitch$="2"] { grid-row: F2; }
.stave > [data-pitch="40"],
.stave > [data-pitch="39"],
.stave > [data-pitch^="E"][data-pitch$="2"] { grid-row: E2; }
.stave > [data-pitch="38"],
.stave > [data-pitch^="D"][data-pitch$="2"] { grid-row: D2; }
.stave > [data-pitch="37"],
.stave > [data-pitch="36"],
.stave > [data-pitch^="C"][data-pitch$="2"] { grid-row: C2; }
.stave > [data-pitch="35"],
.stave > [data-pitch="34"],
.stave > [data-pitch^="B"][data-pitch$="1"] { grid-row: B1; }
.stave > [data-pitch="33"],
.stave > [data-pitch^="A"][data-pitch$="1"] { grid-row: A1; }
.stave > [data-pitch="32"],
.stave > [data-pitch="31"],
.stave > [data-pitch^="G"][data-pitch$="1"] { grid-row: G1; }
.stave > [data-pitch="30"],
.stave > [data-pitch="29"],
.stave > [data-pitch^="F"][data-pitch$="1"] { grid-row: F1; }
.stave > [data-pitch="28"],
.stave > [data-pitch="27"],
.stave > [data-pitch^="E"][data-pitch$="1"] { grid-row: E1; }
.stave > [data-pitch="26"],
.stave > [data-pitch^="D"][data-pitch$="1"] { grid-row: D1; }
.stave > [data-pitch="25"],
.stave > [data-pitch="24"],
.stave > [data-pitch^="C"][data-pitch$="1"] { grid-row: C1; }
.stave > [data-pitch="23"],
.stave > [data-pitch="22"],
.stave > [data-pitch^="B"][data-pitch$="0"] { grid-row: B0; }
.stave > [data-pitch="21"],
.stave > [data-pitch^="A"][data-pitch$="0"] { grid-row: A0; }
.stave > [data-pitch="20"],
.stave > [data-pitch="19"],
.stave > [data-pitch^="G"][data-pitch$="0"] { grid-row: G0; }
.stave > [data-pitch="18"],
.stave > [data-pitch="17"],
.stave > [data-pitch^="F"][data-pitch$="0"] { grid-row: F0; }
.stave > [data-pitch="16"],
.stave > [data-pitch="15"],
.stave > [data-pitch^="E"][data-pitch$="0"] { grid-row: E0; }
.stave > [data-pitch="14"],
.stave > [data-pitch^="D"][data-pitch$="0"] { grid-row: D0; }
.stave > [data-pitch="13"],
.stave > [data-pitch="12"],
.stave > [data-pitch^="C"][data-pitch$="0"] { grid-row: C0; }
.stave > [data-pitch="11"],
.stave > [data-pitch="10"],
.stave > [data-pitch^="B"][data-pitch$="-1"] { grid-row: B-1; }
.stave > [data-pitch="9"],
.stave > [data-pitch^="A"][data-pitch$="-1"] { grid-row: A-1; }
.stave > [data-pitch="8"],
.stave > [data-pitch="7"],
.stave > [data-pitch^="G"][data-pitch$="-1"] { grid-row: G-1; }
.stave > [data-pitch="6"],
.stave > [data-pitch="5"],
.stave > [data-pitch^="F"][data-pitch$="-1"] { grid-row: F-1; }
.stave > [data-pitch="4"],
.stave > [data-pitch="3"],
.stave > [data-pitch^="E"][data-pitch$="-1"] { grid-row: E-1; }
.stave > [data-pitch="2"],
.stave > [data-pitch^="D"][data-pitch$="-1"] { grid-row: D-1; }
.stave > [data-pitch="1"],
.stave > [data-pitch="0"],
.stave > [data-pitch^="C"][data-pitch$="-1"] { grid-row: C-1; }


.treble-stave,
:host([clef="treble"]) > .stave {
    grid-template-rows:
        [A6] var(--y-size)
        [G6] var(--y-size)
        [F6 chords] var(--y-size)
        [E6] var(--y-size)
        [D6] var(--y-size)
        [C6] var(--y-size)
        [B5] var(--y-size)
        [A5] var(--y-size)
        [G5] var(--y-size)
        [F5 stave-top] var(--y-size)
        [E5] var(--y-size)
        [D5] var(--y-size)
        [C5] var(--y-size)
        [B4 stave-center] var(--y-size)
        [A4] var(--y-size)
        [G4] var(--y-size)
        [F4] var(--y-size)
        [E4] var(--y-size)
        [D4 stave-bottom] var(--y-size)
        [C4] var(--y-size)
        [B3] var(--y-size)
        [A3] var(--y-size)
        [G3] var(--y-size)
        [F3] var(--y-size)
        [E3] var(--y-size)
        [D3] var(--y-size)
        [C3] var(--y-size);
}

.bass-stave,
:host([clef="bass"]) > .stave {
    grid-template-rows:
        [C5] var(--y-size)
        [B4] var(--y-size)
        [A4 chords] var(--y-size)
        [G4] var(--y-size)
        [F4] var(--y-size)
        [E4] var(--y-size)
        [D4] var(--y-size)
        [C4] var(--y-size)
        [B3] var(--y-size)
        [A3 stave-top] var(--y-size)
        [G3] var(--y-size)
        [F3] var(--y-size)
        [E3] var(--y-size)
        [D3 stave-center] var(--y-size)
        [C2] var(--y-size)
        [B2] var(--y-size)
        [A2] var(--y-size)
        [G2] var(--y-size)
        [F2 stave-bottom] var(--y-size)
        [E2] var(--y-size)
        [D2] var(--y-size)
        [C1] var(--y-size)
        [B1] var(--y-size)
        [A1] var(--y-size)
        [G1] var(--y-size)
        [F1] var(--y-size)
        [E1] var(--y-size);
}

.drumkit-stave,
:host([clef="drumkit"]) > .stave {
    grid-template-rows:
        [] var(--y-size)
        [] var(--y-size)
        [chords] var(--y-size)
        [] var(--y-size)
        [] var(--y-size)
        [] var(--y-size)
        [C\#3] var(--y-size)               /* Crash */
        [B3]   var(--y-size)               /* Ride 2 */
        [Eb3 F3] var(--y-size)             /* Ride 1, Ride bell */
        [F\#2 Bb2 stave-top] var(--y-size) /* Closed, open hi hats */
        [D3] var(--y-size)                 /* High Tom */
        [] var(--y-size)
        [D2] var(--y-size)                 /* Acoustic Snare  */
        [stave-center] var(--y-size)
        [A2] var(--y-size)                 /* Low Tom */
        [] var(--y-size)
        [G2] var(--y-size)                 /* High Floor Tom */
        [B1] var(--y-size)                 /* Acoustic Kick */
        [Ab2 stave-bottom] var(--y-size)   /* Hi hat pedal */
        [] var(--y-size)
        [] var(--y-size)
        [] var(--y-size)
        [] var(--y-size)
        [] var(--y-size)
        [] var(--y-size)
        [] var(--y-size)
        [] var(--y-size);
}
