
/* Warning: To use a font inside the shadow DOM in Chrome, @font-face must
   be declared in the main DOM – ie. in module.css */
/*
@font-face {
    font-family: JazzText;
    src: url('../../fonts/FinaleJazzText/finalejazztext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*/

.timesig {
    font-family: JazzText, math;
    font-size: 1.333333em;
    font-weight: bold;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: rows;
}

.timesig > * {
    align-self: end;
    justify-self: center;
    margin: 0;
    line-height: 0.92em;
}

.timesig > * + * {
    align-self: start;
    justify-self: center;
}
