<script src="js/jquery.js"></script>
<script src="js/bolt.js"></script>
<script src="js/bolt.a.js"></script>
<script src="js/bolt.input.js"></script>

<script src="js/scribe.js"></script>
<script src="js/scribe.notation.js"></script>
<script src="js/scribe.mixin.note.js"></script>
<script src="js/scribe.mixin.chord.js"></script>
<script src="js/scribe.mixin.array.js"></script>
<script src="js/scribe.mixin.events.js"></script>
<script src="js/scribe.node.js"></script>
<script src="js/scribe.sequence.js"></script>
<script src="js/scribe.event.js"></script>