.beam {
    vector-effect: non-scaling-stroke;
    stroke: black;
    stroke-width: 0;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: black;
}

.up-beam > .beam-path-16 {
    transform: translateY(1.6666667px);
}

.up-beam > .beam-path-32 {
    transform: translateY(3.3333333px);
}

.down-beam > .beam-path-16 {
    transform: translateY(-1.6666667px);
}

.down-beam > .beam-path-32 {
    transform: translateY(-3.3333333px);
}
