
/* Chord symbols are awkward. Sizing and alignment of various glyphs varies
   enormously between fonts. */

.chord-abbr {
    vertical-align: baseline;
    text-decoration: none;
    height: 1.1em;
    line-height: 1.875em;
    /*font-size: 0.75em;*/
    /*letter-spacing: 0.002em;*/
}

/*
.chord-abbr .chord-root,
.chord-abbr .chord-ext,
.chord-abbr .chord-bass {
    font-size: 0.75em;
}
*/
.chord-abbr .chord-bass {
    vertical-align: -0.25em;
}

.chord-abbr .chord-brackets {
    font-size: 0.66666667em;
    vertical-align: 0.4em;
    margin-left: 0.1em;
}




.glyph {
    /* Give glyphs their own line box */
    display: inline-block;
    /* It's not clear why, but any number over 1.999em will start adding height
       to a .glyph's parent's line box when the glyph is vertical-align baseline */
    line-height: 1.875em;
}

.glyph-flat,
.glyph-sharp,
.glyph-doubleflat,
.glyph-doublesharp,
.glyph-natural {
    vertical-align: 0.29em;
    line-height: 1.3em;
    margin-left: 0.025em;
}

.glyph-sharp {
    line-height: 1em;
    vertical-align: 0.44em;
}

.glyph-number {
    font-size: 0.833333333em;
    vertical-align: 0.166666667em;
    /* No, I don't understand why this is necessary, any value under 2em appears to work. */
    line-height: 2em;
}

.glyph-major {
    font-size: 0.875em;
    vertical-align: 0;
}

.glyph-minor {
    line-height: 1.875em;
    font-size: 1.0625em;
}

.glyph-aug,
.glyph-dim,
.glyph-halfdim {
    vertical-align: 0.15em;
    line-height: 1.6em;
}

.glyph-sub {
    font-size: 0.75em;
    vertical-align: 0em;
}

.chord-ext > .glyph-flat,
.chord-ext > .glyph-sharp,
.chord-ext > .glyph-doubleflat,
.chord-ext > .glyph-doublesharp,
.chord-ext > .glyph-natural {
    line-height: 1.2em;
    vertical-align: 0.44em;
    font-size: 0.86em;
}

.chord-ext > .glyph-sharp {
    line-height: 0.9em;
    vertical-align: 0.54em;
}

.chord-ext > .glyph-major {
    font-size:   0.8125em;
    height:      0.5625lh;
    line-height: 1.875em;
}

.chord-ext > .glyph-major + .glyph-number {
    margin-left: -0.025em;
}
