
/* Chord symbols are awkward. Sizing and alignment of various glyphs varies
   enormously between fonts. */

.chord-abbr {
    vertical-align: baseline;
    text-decoration: none;
}

.chord-abbr {
    line-height: 1em;
}

.chord-abbr .chord-maj {
    font-size: inherit;
    vertical-align: 0em;
}

.chord-abbr .chord-min {
    font-size: inherit;
    vertical-align: 0.1875em;
}

.chord-abbr .chord-halfdim {
    font-size: inherit;
    vertical-align: 0.3125em;
}

.chord-abbr .chord-dim {
    font-size: inherit;
    vertical-align: 0.3125em;
}

.chord-abbr .chord-aug {
    font-size: inherit;
    vertical-align: 0.1875em;
}

.chord-abbr .chord-root,
.chord-abbr .chord-bass {
    font-size: 0.75em;
}

.chord-abbr .chord-bass {
    vertical-align: -0.25em;
}

.chord-abbr .chord-flat {
    vertical-align: 0.25em;
    margin-left: 0.05em;
}

.chord-abbr .chord-sharp {
    vertical-align: 0.333333333em;
}

.chord-abbr sup {
    font-size: 0.5625em;
    vertical-align: 0.333333333em;
    margin-left: 0.04em;
}

.chord-abbr sub {
    font-size: 0.5625em;
    vertical-align: 0em;
}

.chord-abbr .chord-brackets {
    font-size: 0.5em;
    vertical-align: 0.4em;
    margin-left: 0.1em;
}
