
/* Chord symbols are awkward. Sizing and alignment of various glyphs varies
   enormously between fonts. */

.chord-abbr {
    vertical-align: baseline;
    text-decoration: none;
    line-height: 1em;
    /*letter-spacing: 0.002em;*/
}

.chord-abbr .chord-maj {
    font-size: inherit;
    vertical-align: 0em;
}

.chord-abbr .chord-min {
    font-size: inherit;
    vertical-align: 0.1875em;
}

.chord-abbr .chord-halfdim {
    font-size: inherit;
    vertical-align: 0.3125em;
}

.chord-abbr .chord-dim {
    font-size: inherit;
    vertical-align: 0.3125em;
}

.chord-abbr .chord-aug {
    font-size: inherit;
    vertical-align: 0.1875em;
}

.chord-abbr .chord-root,
.chord-abbr .chord-ext,
.chord-abbr .chord-bass {
    font-size: 0.75em;
}

.chord-abbr .chord-bass {
    vertical-align: -0.25em;
}

.chord-abbr .glyph-flat {
    vertical-align: 0.3em;
    margin-left: 0.05em;
}

.chord-abbr .glyph-sharp {
    vertical-align: 0.333333333em;
}

.chord-abbr sup {
    font-size: 0.75em;
    font-weight: 700;
    vertical-align: 0.333333333em;
    margin-left: 0.04em;
}

.chord-abbr sub {
    font-size: 0.75em;
    vertical-align: 0;
}

.chord-abbr .chord-brackets {
    font-size: 0.66666667em;
    vertical-align: 0.4em;
    margin-left: 0.1em;
}

.chord-ext-∆ {
    font-size: 0.875em;
    vertical-align: 0;
}

.chord-ext-7 {
    font-size: 0.833333333em;
    vertical-align: 0.166666667em;
}

.chord-ext-- {
    font-size: 1.125em;
    vertical-align: 0;
}

.chord-ext-ø {
    font-size: 1em;
    vertical-align: 0.15em;
}


