.head {
    stroke: none;
    stroke-width: 0;
    /*width:  0.3375em;*/
    height: 0.125em;
}

div.head {
    background-color: currentcolor;
    border-radius: 50%;
    transform: rotateZ(-26deg);
    color: brown;
}
