
.ledge {
    overflow: hidden;
    width: 0.55em;
    vector-effect: non-scaling-stroke;
    stroke: currentcolor;
    stroke-width: 0.05em;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
    /* Make sure ledge svgs are unconstrained by other styles */
    min-width: 0;
    max-width: none;
}

.ledge line {
    vector-effect: non-scaling-stroke;
    stroke: currentcolor;
    stroke-width: 0.03125em;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}
