@import './stave/stave.css';
@import './stave/treble.css';
@import './stave/treble-up.css';
@import './stave/treble-down.css';
@import './stave/bass.css';
@import './stave/piano.css';
@import './stave/drum.css';
@import './stave/percussion.css';

/* Add a background line of white behind the start of the bar in Safari so that
   when bars overlap to disguise Safari's rounding errors this bar hides the
   end of the previous bar. */

:host(.safari) > .stave {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -5 1 10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.04em;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
        <line x1="0" x2="0" y1="-4" y2="4" style="stroke:white;stroke-width:0.375em;stroke-linecap:butt;"></line>\
        <line x1="0" x2="1" y1="4"  y2="4"></line>\
        <line x1="0" x2="1" y1="2"  y2="2"></line>\
        <line x1="0" x2="1" y1="0"  y2="0"></line>\
        <line x1="0" x2="1" y1="-2" y2="-2"></line>\
        <line x1="0" x2="1" y1="-4" y2="-4"></line>\
    </svg>');
}

:host(.safari[clef="piano"]) > .stave {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -14.5 1 29" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.04em;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
        <line x1="0" x2="0" y1="-14" y2="14" style="stroke:white;stroke-width:0.375em;stroke-linecap:butt;"></line>\
        <line x1="0" x2="1" y1="-14" y2="-14"></line>\
        <line x1="0" x2="1" y1="-12" y2="-12"></line>\
        <line x1="0" x2="1" y1="-10" y2="-10"></line>\
        <line x1="0" x2="1" y1="-8"  y2="-8"></line>\
        <line x1="0" x2="1" y1="-6"  y2="-6"></line>\
        <line x1="0" x2="1" y1="6"   y2="6"></line>\
        <line x1="0" x2="1" y1="8"   y2="8"></line>\
        <line x1="0" x2="1" y1="10"  y2="10"></line>\
        <line x1="0" x2="1" y1="12"  y2="12"></line>\
        <line x1="0" x2="1" y1="14"  y2="14"></line>\
    </svg>');
}

:host(.safari[clef="percussion"]) > .stave {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -2.5 1 5" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.04em;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
        <line x1="0" x2="0" y1="-2" y2="2" style="stroke:white;stroke-width:0.375em;stroke-linecap:butt;"></line>\
        <line x1="0" x2="1" y1="0"  y2="0"></line>\
    </svg>');
}

.stave > .tuplet {
    grid-row: stave-center;
    /* Do some work to center tuplet vertically in stave row, where normally the
       baseline is in the center of the stave row. This may not be the same for
       every font, approximative. */
    align-self: center;
    position: relative;
    top: calc(0.175em - 1.25em);
}

.stave > .down-tuplet {
    top: calc(0.175em - 0.875em);
}

.stave > .coda {
    margin: 0;
    margin-left: calc(-1 * var(--bar-padding-left) - 0.5em);
    margin-right: 0.25em;
    grid-column: bar-begin;
    grid-row: chords;
    align-self: center;
}

.bar > .barline {
    grid-row: bottom;
    align-self: center;
}
