.stem {
    /* Overwritten in JS where stem is attached to a beam */
    --beam-y: 0;

    stroke: black;
    stroke-width: 0.31;
    stroke-linecap: round;
    width:  0.3375em;
    height: calc(var(--beam-y) * 0.125em + var(--stem-size));
}
