.tie {
    /*background: rgba(220, 180, 20, 0.4);*/
    min-width: 2em;
    height: 0.5em;
}

.down-tie {
    /*background-color: lightblue;*/
}

.down-tie > path {
    transform-origin: center center;
    transform: translateY(0.05px) scale(1, 0.9);
}

.up-tie {
    /*background-color: yellow;*/
}

.up-tie > path {
    transform-origin: center center;
    transform: translateY(-0.05px) scale(1, -0.9);
}
