/*
.timesig {
    display: grid;
    grid-auto-flow: rows;
}

.timesig > * {
    font-weight: bold;
    align-self: end;
    justify-self: center;
    margin: 0;
}

.timesig > * + * {
    align-self: start;
    justify-self: center;
}
*/

/* The 'new' way! */

.timesig,
button.timesig {
    display: grid;
}

.timesig {
    row-gap: 0;
    max-height: 1.84em;
}

button.timesig {
    padding: 0;
    border-width: 0;
}

button.timesig:hover {
    background-color: #eeeeee;
}

.timesig > sup,
.timesig > sub {
    display: block;
    position: static;

    font-size: inherit;
    line-height: 0.625em;

    margin: 0;
    grid-column: 1;
    justify-self: center;
    vertical-align: baseline;
}

.timesig > sup {
    grid-row: 1;
    align-self: end;
}

.timesig > sub {
    grid-row: 2;
    align-self: start;
}
