
.tuplet {
    /* Skew angle of tuplet bracket */
    --angle: 0deg;

    display: grid;
    text-align: center;
    align-self: center;
    grid-template-columns: 1fr min-content 1fr;
    /* Gap betweeen bracket and number and number and bracket */
    column-gap: 0.133333em;
    justify-items: stretch;
    align-items: baseline;
}

.tuplet::before,
.tuplet::after {
    display: inline-block;
    align-self: center;
    background-color: transparent;
    background-clip: content-box;
    border-top: 0.05em solid currentcolor;
    border-radius: 0.03em;
    height: 0.25em;
    transform: skew(0, var(--angle));
    /* Center tuplet bracket to text. */
    position: relative;
    top: -0.06667em;
}

.tuplet::before {
    content: '';
    border-left: 0.05em solid currentcolor;
    border-top-left-radius: 0.05em;
    /* Move transform origin to tuplet centre, to the right of before */
    transform-origin: calc(100% + 0.2333em) 50%;
}

.tuplet::after {
    content: '';
    border-right: 0.05em solid currentcolor;
    border-top-right-radius: 0.05em;
    /* Move transform origin to tuplet centre, to the left of after */
    transform-origin: -0.2333em 50%;
}

/*
.down-tuplet::before,
.down-tuplet::after {
    border-top: 0;
    border-bottom: 0.05em solid currentcolor;
    position: relative;
    top: -0.26667em;
}
*/
