
@font-face {
    font-family: AshText;
    src: url('../fonts/AshText/finaleashtext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ash;
    src: url('../fonts/Ash/finaleash-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.ash-font {
    font-family: Ash, AshText;
}
