
@font-face {
    font-family: Jazz;
    src: url('../fonts/Jazz/finalejazz-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: JazzText;
    src: url('../fonts/JazzText/finalejazztext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.scribe-jazz {
    font-family: Jazz, JazzText;

    /* Width of standard black note head */
    --head-1-size: 0.3375;
}

.scribe-jazz .note {
    --stem-height: 1;
    --stem-width: 0.033;
    /* Alignment of root of stem relative to baseline */
    --stem-align-up: 0.03;
    --stem-align-down: -0.04;
}

.scribe-jazz .head[data-glyph="headX"] {
    --stem-align-up:   0.14;
    --stem-align-down: -0.12;
}

.scribe-jazz .note[data-duration^="0.1"] {
    /* Temporarily mark notes that should have a 32nd flag, but dont in Jazz font */
    color: red !important;
}
