
@font-face {
    font-family: FinaleJazz;
    src: url('../fonts/FinaleJazz/finalejazz-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FinaleJazzText;
    src: url('../fonts/FinaleJazzText/finalejazztext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
