
.head {
    /* Heads are enormous as they are dictated by the size of their font
       content - use after content to define a hit zone */
    pointer-events: none;

    /* Guarantee that multi-char heads, like those with augmentation dots,
       don't wrap */
    white-space: nowrap;
}

.head::after {
    /* Use after content to define a hit zone for pointer events */
    content: '';
    pointer-events: auto;
    /* Let's be a little generous about its size, make it easy for folks to hit */
    position: absolute;
    left: -0.1em;
    right: -0.1em;
    top: -0.05em;
    bottom: -0.05em;
    /* Emulate notehead-like rounding */
    border-radius: 60% 30%;
    background: transparent;
}
