
.select-rectangle {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    border: 1px dotted var(--selection-fg);
    background-color: oklch(from var(--selection-fg) l c h / 0.05);
}

.no-select {
    -webkit-user-select: none;
    user-select: none;
}
