.zone {
    /*display: none;*/
    cursor: crosshair;
    position: relative;
    background-color: rgba(80,80,80,0.06);
    border-radius: 0.25em;
}

.shift-key .zone,
.meta-key .zone {
    display: block;
}

.meta-key .zone {
    cursor: copy;
}

.meta-key .zone:hover {
    background-color: rgba(60,160,60,0.12);
}

.stave > .zone {
    grid-row: min / max;
}

[data-zone^="0.11"]  { --zone-duration: 0.1111111111; }
[data-zone^="0.125"] { --zone-duration: 0.125; }
[data-zone^="0.14"]  { --zone-duration: 0.1428571429; }
[data-zone^="0.16"]  { --zone-duration: 0.1666666667; }
[data-zone^="0.2"]   { --zone-duration: 0.2; }
[data-zone^="0.25"]  { --zone-duration: 0.25; }
[data-zone^="0.33"]  { --zone-duration: 0.3333333333; }
[data-zone^="0.5"]   { --zone-duration: 0.5; }
[data-zone^="1"]     { --zone-duration: 1; }

[data-zone^="0.11"]  .bar[data-duration="4"] > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { display: none !important; }
[data-zone^="0.125"] .bar[data-duration="4"] > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { display: none !important; }
[data-zone^="0.14"]  .bar[data-duration="4"] > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { display: none !important; }
[data-zone^="0.16"]  .bar[data-duration="4"] > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { display: none !important; }
[data-zone^="0.2"]   .bar[data-duration="4"] > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { display: none !important; }
[data-zone^="0.25"]  .bar[data-duration="4"] > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { display: none !important; }
[data-zone^="0.33"]  .bar[data-duration="4"] > .zone + * + * + * + * + * + * + * + * + * + * + * + .zone { display: none !important; }
[data-zone^="0.5"]   .bar[data-duration="4"] > .zone + * + * + * + * + * + * + * + .zone { display: none !important; }
[data-zone^="1"]     .bar[data-duration="4"] > .zone + * + * + * + .zone { display: none !important; }

[data-zone^="0.11"]  kbd[title="9"],
[data-zone^="0.125"] kbd[title="8"],
[data-zone^="0.14"]  kbd[title="7"],
[data-zone^="0.16"]  kbd[title="6"],
[data-zone^="0.2"]   kbd[title="5"],
[data-zone^="0.25"]  kbd[title="4"],
[data-zone^="0.33"]  kbd[title="3"],
[data-zone^="0.5"]   kbd[title="2"],
[data-zone^="1"]     kbd[title="1"] {
    color: white;
    background: color(display-p3 0 0.651 1);
}

.bar > .zone {
    justify-self: stretch;
    grid-column-start: calc(var(--column-beat-0) + round(var(--beat) * var(--columns-per-beat)));
    grid-column-end: span calc(round(var(--columns-per-beat) * var(--zone-duration)));
    margin-left: 0;
    margin-right: 0;
    /*min-width: calc(1em * var(--head-1-size));*/
}

.bar > .zone { --beat: 0; }
.bar > .zone + .zone { --beat: calc(1 * var(--zone-duration)); }
.bar > .zone + * + .zone { --beat: calc(2 * var(--zone-duration)); }
.bar > .zone + * + * + .zone { --beat: calc(3 * var(--zone-duration)); }
.bar > .zone + * + * + * + .zone { --beat: calc(4 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + .zone { --beat: calc(5 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + .zone { --beat: calc(6 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + .zone { --beat: calc(7 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + .zone { --beat: calc(8 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + .zone { --beat: calc(9 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(10 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(11 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(12 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(13 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(14 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(15 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(16 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(17 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(18 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(19 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(20 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(21 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(22 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(23 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(24 * var(--zone-duration)); }/*
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(9 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(10 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(11 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(12 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(13 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(14 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(15 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(16 * var(--zone-duration)); }
.bar > .zone + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .zone { --beat: calc(17 * var(--zone-duration)); }*/
