
.acci {
    position: relative;
    pointer-events: none;
}

.acci::after {
    /* Use after content to define a hit zone for pointer events */
    content: '';
    pointer-events: auto;
    /* Let's be a little generous about its size, make it easy for folks to hit */
    position: absolute;
    left: -0.04em;
    right: -0.04em;
    top: -0.0625em;
    bottom: -0.0625em;
    /* Emulate notehead-like rounding */
    border-radius: 10% 10%;
    background: transparent;
}
