

/**
.bar-flex
**/

.bar-flex {
    justify-content: start;
    column-gap: 1px;
}

.bar-flex > .button {
    flex: 1 0 auto;
}

.bar-flex > :not(label:first-of-type) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bar-flex > :not(label:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/**
.bar-button
**/

.bar-button {
    --font-size: 0.75rem;
    --size: 1.6em;
    font-family: MartianMono;
    text-transform: uppercase;
    background-color: #cccccc;
}

:checked + .bar-button {
    color: var(--brightgreen);
    background-color: #888888;
}
