.header {
    font-family: JazzText;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 1em;
}

.header > .credit {
    font-family: JazzText;
    font-size: 1em;
    grid-column: 1;
    justify-self: start;
    grid-row: 1;
    vertical-align: baseline;
}

.header > .title {
    font-family: JazzText;
    font-size: 2em;
    grid-column: 2;
    justify-self: center;
    grid-row: 1;
    vertical-align: baseline;
    width: auto;
    min-width: 33.333333vw;
    text-align: center;
}

.header > .part {
    font-family: JazzText;
    font-size: 1em;
    grid-column: 3;
    justify-self: end;
    grid-row: 1;
    vertical-align: baseline;
}

.header + * {
    margin-top: 1em;
}
