.zone {
    cursor: crosshair;
    position: relative;
    min-width: 1em;
}

.zone::before {
    content: '';
    position: absolute;
    top: 0.125em;
    left: 0;
    width: 100%;
    height: calc(100% - 0.25em);
    background-color: rgba(80,80,80,0.06);
    border-radius: 0.25em;
}

.zone.active::before {
    background-color: rgba(60,180,120,0.14);
}



.stave > .zone {
    grid-row: 1 / -1 ;
    /* Guarantee a gap between zones */
    margin-left: 1px;
    margin-right: 1px;
}



body .zone {
    display: none;
}

body.edit .zone {
    display: block;
}
