.zone {
    position: relative;
    min-width: 1em;
    opacity: 0.1;
}

.zone::before {
    content: '';
    position: absolute;
    top: 0.125em;
    left: 0;
    width: 100%;
    height: calc(100% - 0.25em);
    background-color: #888888;
    border-radius: 0.25em;
}

.zone.active::before {
    background-color: #bb6666;
}

.stave > .zone {
    grid-row: 1 / -1 ;
    /* Guarantee a gap between zones */
    margin-left: 1px;
    margin-right: 1px;
}
