
@import './classes/accidental.css';
@import './classes/stave.css';
@import './classes/bar.css';
@import './classes/chord.css';
@import './classes/head.css';
@import './classes/ledge.css';
@import './classes/rest.css';
@import './classes/stem.css';
@import './classes/beam.css';
@import './classes/tail.css';
@import './classes/tie.css';
@import './classes/lyric.css';
@import './classes/svg.css';

:host {
    --bar-line-size: 0.0625rem;

    padding-left: var(--bar-line-size, 1px);

    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 0;
}

:host(.safari) {
    /* Bar lines, ::before and ::after on .bar, are placed outside of the bar
       so that the overlap overcomes bar to bar rounding errors in Safari,
       causing 1px white gap. But this means we need to pad the container by
       the same amount. */
    padding-right: var(--bar-line-size, 1px);
}

:host > .bar {
    flex: 1 1;
    /* Make bar lines overlap */
    margin-left: calc(-1 * var(--bar-line-size, 1px));
}

svg {
    fill: currentcolor;
    /*background-color: rgba(200, 180, 30, 0.5);*/
}

svg > path {
    fill: inherit;
}
