
/* Converts data-duration attribute to --duration variable */

[data-duration^="0.083"] { --duration: 0.0833333333; } /* Triplet over 0.25 */
[data-duration^="0.1"]   { --duration: 0.1; }          /* Quintuplet over 0.5 */
[data-duration^="0.11"]  { --duration: 0.1111111111; } /* Nonuplet over 1 */
[data-duration^="0.125"] { --duration: 0.125; }        /* 32nd */
[data-duration^="0.14"]  { --duration: 0.1428571429; } /* Septuplet over 1 */
[data-duration^="0.16"]  { --duration: 0.1666666667; } /* Triplet over 0.5 */
[data-duration^="0.2"]   { --duration: 0.2; }          /* Quintuplet over 1 */
[data-duration^="0.22"]  { --duration: 0.2222222222; } /* Nonuplet over 2 */
[data-duration^="0.25"]  { --duration: 0.25; }         /* 16th */
[data-duration^="0.28"]  { --duration: 0.2857142857; } /* Septuplet over 2 */
[data-duration^="0.33"]  { --duration: 0.3333333333; } /* Triplet over 1 */
[data-duration^="0.375"] { --duration: 0.375; }        /* 16th dotted */
[data-duration^="0.4"]   { --duration: 0.4; }          /* Quintuplet over 2 */
[data-duration^="0.44"]  { --duration: 0.4444444444; } /* Nonuplet over 4 */
[data-duration^="0.5"]   { --duration: 0.5; }          /* 8th */
[data-duration^="0.57"]  { --duration: 0.5714285714; } /* Septuplet over 4 */
[data-duration^="0.66"]  { --duration: 0.6666666667; } /* Triplet over 2 */
[data-duration^="0.75"]  { --duration: 0.75; }         /* 8th dotted */
[data-duration^="0.8"]   { --duration: 0.8; }          /* Quintuplet over 4 */
[data-duration^="0.875"] { --duration: 0.875; }        /* 8th double dotted */
[data-duration^="0.88"]  { --duration: 0.8888888889; } /* Nonuplet over 8 */
[data-duration^="1"]     { --duration: 1; }            /* Quarter */
[data-duration^="1.14"]  { --duration: 1.1428571429; } /* Septuplet over 8 */
[data-duration^="1.33"]  { --duration: 1.3333333333; } /* Triplet over 4 */
[data-duration^="1.5"]   { --duration: 1.5; }          /* Quarter dotted */
[data-duration^="1.6"]   { --duration: 1.6; }          /* Quintuplet over 8 */
[data-duration^="1.75"]  { --duration: 1.75; }         /* Quarter double dotted */
[data-duration^="2"]     { --duration: 2; }            /* Minim */
[data-duration^="2.5"]   { --duration: 2.5; }          /* 5/8 bar */
[data-duration^="2.66"]  { --duration: 2.6666666667; } /* Triplet over 8 */
[data-duration^="3"]     { --duration: 3; }            /* Minim dotted */
[data-duration^="3.5"]   { --duration: 3.5; }          /* Minim double dotted */
[data-duration^="4"]     { --duration: 4; }            /* Whole */
[data-duration^="4.5"]   { --duration: 4.5; }          /* 9/8 bar */
[data-duration^="5"]     { --duration: 5; }            /* 5/4 bar */
[data-duration^="5.5"]   { --duration: 5.5; }          /* 11/8 bar */
[data-duration^="6"]     { --duration: 6; }            /* Whole dotted */
[data-duration^="6.5"]   { --duration: 6.5; }          /* 13/8 bar */
[data-duration^="7"]     { --duration: 7; }            /* Whole double dotted */
[data-duration^="7.5"]   { --duration: 7.5; }          /* 15/8 bar */
[data-duration^="8"]     { --duration: 8; }            /* Doublewhole */
