
/* Converts data-divisor attribute, as found on tuplets, to --divisor variable */

[data-divisor="2"]  { --divisor: 2; }
[data-divisor="3"]  { --divisor: 3; }
[data-divisor="4"]  { --divisor: 4; }
[data-divisor="5"]  { --divisor: 5; }
[data-divisor="6"]  { --divisor: 6; }
[data-divisor="7"]  { --divisor: 7; }
[data-divisor="8"]  { --divisor: 8; }
[data-divisor="9"]  { --divisor: 9; }
[data-divisor="10"] { --divisor: 10; }
[data-divisor="11"] { --divisor: 11; }
