.bass-stave {
    padding-top: 0.0625em;
    padding-bottom: 0.0625em;
    grid-template-rows:
        [C5 max] 0.125em
        [B4] 0.125em
        [A4 chords] 0.125em
        [G4] 0.125em
        [F4] 0.125em
        [E4] 0.125em
        [D4] 0.125em
        [C4] 0.125em
        [B3] 0.125em
        [A3 stave-top] 0.125em
        [G3] 0.125em
        [F3] 0.125em
        [E3] 0.125em
        [D3 stave-center] 0.125em
        [C3] 0.125em
        [B2] 0.125em
        [A2] 0.125em
        [G2] 0.125em
        [F2 stave-bottom] 0.125em
        [E2] 0.125em
        [D2] 0.125em
        [C2] 0.125em
        [B1] 0.125em
        [A1] 0.125em
        [G1] 0.125em
        [F1] 0.125em
        [E1 lyrics] 0.125em
        [min];
}

/* Map unoctaved pitches to stave lines for key signatures. */
.bass-stave > [data-pitch="F♭"] { grid-row-start: F2; }
.bass-stave > [data-pitch="C♭"] { grid-row-start: C3; }
.bass-stave > [data-pitch="G♭"] { grid-row-start: G2; }
.bass-stave > [data-pitch="D♭"] { grid-row-start: D3; }
.bass-stave > [data-pitch="A♭"] { grid-row-start: A2; }
.bass-stave > [data-pitch="E♭"] { grid-row-start: E3; }
.bass-stave > [data-pitch="B♭"] { grid-row-start: B2; }
.bass-stave > [data-pitch="F♯"] { grid-row-start: F3; }
.bass-stave > [data-pitch="C♯"] { grid-row-start: C3; }
.bass-stave > [data-pitch="G♯"] { grid-row-start: G3; }
.bass-stave > [data-pitch="D♯"] { grid-row-start: D3; }
.bass-stave > [data-pitch="A♯"] { grid-row-start: A2; }
.bass-stave > [data-pitch="E♯"] { grid-row-start: E3; }
.bass-stave > [data-pitch="B♯"] { grid-row-start: B2; }
