
.chord-stave {
    grid-template-rows:
        0.125em
        0.125em
        0.125em
        [stave-top] 0.125em
        0.125em
        0.125em
        0.125em
        0.125em
        [stave-center stave-top] 0.125em
        0.125em
        0.125em
        [chords] 0.125em
        0.125em
        [stave-bottom] 0.125em
        0.125em
        [lyrics] 0.125em;

    background-image: none;
}

/* TEMP */
.chord-stave > .ledge,
/* Just a precaution. */
.chord-stave > .acci {
    display: none !important;
}

.chord-stave > [data-pitch]  {
    display: none !important;
}
