
/*
Useful on drum notation:
https://drumbeatsonline.com/blog/drum-notation-sheet-music-how-to-read-it
https://web.mit.edu/merolish/Public/drums.pdf
*/

.drum-stave {
    padding-top: 0.0625em;
    padding-bottom: 0.0625em;
    grid-template-rows:
        [max up-beam]      0.125em
        [chords]           0.125em
        0.125em
        /* Splash, Chinese */
        [splash-cymbal chinese-cymbal]   0.125em
        /* Crash 2 */
        [crash-cymbal-2]          0.125em
        /* Crash */
        [crash-cymbal crash-cymbal-1]          0.125em
        /* Ride Cymbal, Ride Bell */
        [ride-cymbal ride-cymbal-1 ride-cymbal-2 ride-bell] 0.125em
        /* Closed Hi-hat, Open Hi-hat */
        [hi-hat closed-hi-hat open-hi-hat stave-top cymbals] 0.125em
        /* High tom, Cowbell */
        [high-tom cowbell] 0.125em
        /* Low mid tom, High mid tom */
        [low-mid-tom high-mid-tom stave-upper] 0.125em
        /* Snare drum */
        [snare-drum snare-drum-1 snare-drum-2 side-stick] 0.125em
        /* Low tom, Sticks, Hand clap, Tambourine */
        [low-tom sticks hand-clap tambourine stave-center] 0.125em
        /* High floor tom */
        [high-floor-tom]   0.125em
        /* Low floor tom */
        [low-floor-tom]    0.125em
        /* Bass drum, Low bass drum, High bass drum */
        [bass-drum low-bass-drum high-bass-drum]        0.125em
        [stave-lower drums] 0.125em
        /* Pedal Hi-hat */
        [pedal-hi-hat stave-bottom] 0.125em
        [foot barcount]    0.125em
        0.125em
        0.125em
        0.125em
        0.125em
        [down-beam lyrics] 0.125em
        [min];
}

.drum-stave > [data-pitch="pedal-hi-hat"]   { grid-row: pedal-hi-hat; }
.drum-stave > [data-pitch$="bass-drum"]     { grid-row: bass-drum; }
.drum-stave > [data-pitch="low-floor-tom"]  { grid-row: low-floor-tom; }
.drum-stave > [data-pitch="high-floor-tom"] { grid-row: high-floor-tom; }
.drum-stave > [data-pitch="low-tom"]        { grid-row: low-tom; }
.drum-stave > [data-pitch="sticks"]         { grid-row: sticks; }
.drum-stave > [data-pitch="hand-clap"]      { grid-row: hand-clap; }
.drum-stave > [data-pitch="tambourine"]     { grid-row: tambourine; }
.drum-stave > [data-pitch^="snare-drum"]    { grid-row: snare-drum; }
.drum-stave > [data-pitch="side-stick"]     { grid-row: side-stick; }
.drum-stave > [data-pitch="low-mid-tom"]    { grid-row: low-mid-tom; }
.drum-stave > [data-pitch="high-mid-tom"]   { grid-row: high-mid-tom; }
.drum-stave > [data-pitch="high-tom"]       { grid-row: high-tom; }
.drum-stave > [data-pitch="cowbell"]        { grid-row: cowbell; }
.drum-stave > [data-pitch="closed-hi-hat"],
.drum-stave > [data-pitch="open-hi-hat"]    { grid-row: hi-hat; }
.drum-stave > [data-pitch^="ride"]          { grid-row: ride-cymbal; }
.drum-stave > [data-pitch="crash-cymbal-1"] { grid-row: crash-cymbal-1; }
.drum-stave > [data-pitch="crash-cymbal-2"] { grid-row: crash-cymbal-2; }
.drum-stave > [data-pitch="splash-cymbal"]  { grid-row: splash-cymbal; }
.drum-stave > [data-pitch="chinese-cymbal"] { grid-row: chinese-cymbal; }


/* TEMP */
.drum-stave > .ledge,
/* Just a precaution. */
.drum-stave > .acci {
    display: none !important;
}

.drum-stave > .rest {
    grid-row: stave-upper;
}

.drum-stave > .rest[data-duration="4"],
.drum-stave > .rest[data-duration="6"] {
    grid-row: 11;
}

.drum-stave > .rest[data-part="drums"] {
    grid-row: drums;
}

.drum-stave > .rest[data-part="cymbals"] {
    grid-row: cymbals;
}

.drum-stave > .up-beam.beam   {
    --translate-y: -0.0625;
    grid-row: up-beam;
    position: static;
}

.drum-stave > .down-beam.beam {
    grid-row: down-beam;
    position: static;
}

.drum-stave > .beam-note[data-pitch^="ride"]        { --stem-height: 0.85; }
.drum-stave > .beam-note[data-pitch^="snare"]       { --stem-height: 1.5; }
.drum-stave > .beam-note[data-pitch="pedal-hi-hat"] { --stem-height: 0.7; }
