
/*
Useful on drum notation:
https://drumbeatsonline.com/blog/drum-notation-sheet-music-how-to-read-it
https://web.mit.edu/merolish/Public/drums.pdf
*/

.percussion-stave {
    grid-template-rows:
        var(--y-size)
        var(--y-size)
        [chords] var(--y-size)
        var(--y-size)
        var(--y-size)
        [stave-top] var(--y-size)
        var(--y-size)
        [stave-center stave-top] var(--y-size)
        var(--y-size)
        var(--y-size)
        [stave-bottom] var(--y-size)
        var(--y-size)
        var(--y-size)
        var(--y-size)
        [lyrics] var(--y-size);

    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -2.5 1 5" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.05em;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
        <line x1="0" x2="1" y1="0" y2="0"></line>\
    </svg>');

    background-size: 100% calc(5 * var(--y-size));
}

/* TEMP */
.percussion-stave > .ledge,
/* Just a precaution. */
.percussion-stave > .acci {
    display: none !important;
}


/* Selectors must match the importance of data-pitch selectors found on
   the base class .stave, hence the double attribute selector. */
.percussion-stave > [data-pitch][data-pitch]  {
    grid-row: stave-center;
}
