
.piano-stave {
    grid-template-rows:
        [B6] var(--y-size)
        [A6] var(--y-size)
        [G6] var(--y-size)
        [F6 chords] var(--y-size)
        [E6] var(--y-size)
        [D6] var(--y-size)
        [C6] var(--y-size)
        [B5] var(--y-size)
        [A5] var(--y-size)
        [G5] var(--y-size)
        [F5 stave-top] var(--y-size)
        [E5] var(--y-size)
        [D5] var(--y-size)
        [C5] var(--y-size)
        [B4 stave-upper] var(--y-size)
        [A4] var(--y-size)
        [G4] var(--y-size)
        [F4] var(--y-size)
        [E4] var(--y-size)
        [D4] var(--y-size)
        [C4] var(--y-size)
        [B3] var(--y-size)
        var(--y-size)
        var(--y-size)
        [stave-center lyrics] var(--y-size)
        var(--y-size)
        var(--y-size)
        var(--y-size)
        var(--y-size)
        var(--y-size)
        [A3] var(--y-size)
        [G3] var(--y-size)
        [F3] var(--y-size)
        [E3] var(--y-size)
        [D3 stave-lower] var(--y-size)
        [C3] var(--y-size)
        [B2] var(--y-size)
        [A2] var(--y-size)
        [G2] var(--y-size)
        [F2 stave-bottom] var(--y-size)
        [E2] var(--y-size)
        [D2] var(--y-size)
        [C2] var(--y-size)
        [A1] var(--y-size)
        [G1] var(--y-size)
        [F1] var(--y-size)
        [E1] var(--y-size)
        [D1] var(--y-size)
        [C1] var(--y-size);

    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -14.5 1 29" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.06em;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
        <line x1="0" x2="1" y1="-14" y2="-14"></line>\
        <line x1="0" x2="1" y1="-12" y2="-12"></line>\
        <line x1="0" x2="1" y1="-10" y2="-10"></line>\
        <line x1="0" x2="1" y1="-8"  y2="-8"></line>\
        <line x1="0" x2="1" y1="-6"  y2="-6"></line>\
        <line x1="0" x2="1" y1="6"   y2="6"></line>\
        <line x1="0" x2="1" y1="8"   y2="8"></line>\
        <line x1="0" x2="1" y1="10"  y2="10"></line>\
        <line x1="0" x2="1" y1="12"  y2="12"></line>\
        <line x1="0" x2="1" y1="14"  y2="14"></line>\
    </svg>');

    background-size: 100% calc(29 * var(--y-size));
}

.piano-stave > .rest,
.piano-stave > .timesig,
.piano-stave > .clef {
    /* The default part is the upper part */
    grid-row: stave-upper;
}

.piano-stave > .rest[data-part="lower"],
.piano-stave > .timesig[data-part="lower"],
.piano-stave > .clef[data-part="lower"] {
    grid-row: stave-lower;
}

.piano-stave > .lyric {
    align-self: center;
}

/* Map unoctaved pitches to stave lines for key signatures. */
.piano-stave > [data-pitch="F♭"] { grid-row-start: F4; }
.piano-stave > [data-pitch="C♭"] { grid-row-start: C5; }
.piano-stave > [data-pitch="G♭"] { grid-row-start: G4; }
.piano-stave > [data-pitch="D♭"] { grid-row-start: D5; }
.piano-stave > [data-pitch="A♭"] { grid-row-start: A4; }
.piano-stave > [data-pitch="E♭"] { grid-row-start: E5; }
.piano-stave > [data-pitch="B♭"] { grid-row-start: B4; }
.piano-stave > [data-pitch="F♯"] { grid-row-start: F5; }
.piano-stave > [data-pitch="C♯"] { grid-row-start: C5; }
.piano-stave > [data-pitch="G♯"] { grid-row-start: G5; }
.piano-stave > [data-pitch="D♯"] { grid-row-start: D5; }
.piano-stave > [data-pitch="A♯"] { grid-row-start: A4; }
.piano-stave > [data-pitch="E♯"] { grid-row-start: E5; }
.piano-stave > [data-pitch="B♯"] { grid-row-start: B4; }
