
.piano-stave {
    grid-template-rows:
        [B6] 0.125em
        [A6] 0.125em
        [G6] 0.125em
        [F6 chords] 0.125em
        [E6] 0.125em
        [D6] 0.125em
        [C6] 0.125em
        [B5] 0.125em
        [A5] 0.125em
        [G5] 0.125em
        [F5 stave-top] 0.125em
        [E5] 0.125em
        [D5] 0.125em
        [C5] 0.125em
        [B4 stave-upper] 0.125em
        [A4] 0.125em
        [G4] 0.125em
        [F4] 0.125em
        [E4] 0.125em
        [D4] 0.125em
        [C4] 0.125em
        [B3] 0.125em
        0.125em
        0.125em
        [stave-center lyrics] 0.125em
        0.125em
        0.125em
        0.125em
        0.125em
        0.125em
        [A3] 0.125em
        [G3] 0.125em
        [F3] 0.125em
        [E3] 0.125em
        [D3 stave-lower] 0.125em
        [C3] 0.125em
        [B2] 0.125em
        [A2] 0.125em
        [G2] 0.125em
        [F2 stave-bottom] 0.125em
        [E2] 0.125em
        [D2] 0.125em
        [C2] 0.125em
        [A1] 0.125em
        [G1] 0.125em
        [F1] 0.125em
        [E1] 0.125em
        [D1] 0.125em
        [C1] 0.125em;

    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -14.5 1 29" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.04em;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
        <line x1="0" x2="1" y1="-14" y2="-14"></line>\
        <line x1="0" x2="1" y1="-12" y2="-12"></line>\
        <line x1="0" x2="1" y1="-10" y2="-10"></line>\
        <line x1="0" x2="1" y1="-8"  y2="-8"></line>\
        <line x1="0" x2="1" y1="-6"  y2="-6"></line>\
        <line x1="0" x2="1" y1="6"   y2="6"></line>\
        <line x1="0" x2="1" y1="8"   y2="8"></line>\
        <line x1="0" x2="1" y1="10"  y2="10"></line>\
        <line x1="0" x2="1" y1="12"  y2="12"></line>\
        <line x1="0" x2="1" y1="14"  y2="14"></line>\
    </svg>');

    background-size: 100% 3.625em;
}

.piano-stave > .rest,
.piano-stave > .timesig,
.piano-stave > .clef {
    /* The default part is the upper part */
    grid-row: stave-upper;
}

.piano-stave > .rest[data-part="lower"],
.piano-stave > .timesig[data-part="lower"],
.piano-stave > .clef[data-part="lower"] {
    grid-row: stave-lower;
}

.piano-stave > .lyric {
    align-self: center;
}

/* Map unoctaved pitches to stave lines for key signatures. */
.piano-stave > [data-pitch="F♭"] { grid-row-start: F4; }
.piano-stave > [data-pitch="C♭"] { grid-row-start: C5; }
.piano-stave > [data-pitch="G♭"] { grid-row-start: G4; }
.piano-stave > [data-pitch="D♭"] { grid-row-start: D5; }
.piano-stave > [data-pitch="A♭"] { grid-row-start: A4; }
.piano-stave > [data-pitch="E♭"] { grid-row-start: E5; }
.piano-stave > [data-pitch="B♭"] { grid-row-start: B4; }
.piano-stave > [data-pitch="F♯"] { grid-row-start: F5; }
.piano-stave > [data-pitch="C♯"] { grid-row-start: C5; }
.piano-stave > [data-pitch="G♯"] { grid-row-start: G5; }
.piano-stave > [data-pitch="D♯"] { grid-row-start: D5; }
.piano-stave > [data-pitch="A♯"] { grid-row-start: A4; }
.piano-stave > [data-pitch="E♯"] { grid-row-start: E5; }
.piano-stave > [data-pitch="B♯"] { grid-row-start: B4; }
