
.stave {
    /* The SMuFL font spec says that a standard five-line stave is 1em high,
       making the stave line to stave line distance 0.25em, and a stave row 0.125em */
    /*--stem-height: 0.875em;*/

    display: grid;
    row-gap: 0;
    /* Prevent stray content from breaking layout */
    grid-auto-rows: 0;

    /* By default, render staves at 32px high */
    font-size: 2em;

    /* Render the stave as a background image */
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -5 1 10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.04em;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
        <line x1="0" x2="1" y1="4" y2="4"></line>\
        <line x1="0" x2="1" y1="2" y2="2"></line>\
        <line x1="0" x2="1" y1="0" y2="0"></line>\
        <line x1="0" x2="1" y1="-2" y2="-2"></line>\
        <line x1="0" x2="1" y1="-4" y2="-4"></line>\
    </svg>');
    background-repeat: repeat-x;
    background-size: 100% 1.25em;
    background-position: 0 50%;
}

.stave > svg {
    grid-column: 1 / span -1;
    grid-row: stave-top / stave-bottom;
    overflow: visible;
}

.stave > .clef {
    align-self: center;
}

.stave > .treble-clef {
    grid-row: G4;
}

.stave > .treble-up-clef {
    grid-row: G5;
}

.stave > .treble-down-clef {
    grid-row: G3;
}

.stave > .bass-clef {
    grid-row: F3;
}

.stave > .alto-clef {
    grid-row: C4;
}

.stave > .drum-clef,
.stave > .percussion-clef {
    grid-row: stave-center;
}

.stave > .timesig {
    grid-row: stave-center;
    align-self: center;
}

.stave > .note {
    align-self: center;
}

.stave > .chord {
    grid-row: chords;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
}

.stave > .acci {
    grid-row-end: span 1;
    align-self: center;
}
/*
.stave > .stem {
    align-self: center;
}
*/
.stave > .up-stem {
    align-self: end;
    margin-bottom: 0.0625em;
}

.stave > .down-stem {
    align-self: start;
    margin-top: 0.0625em;
}

.stave > .ledge {
    overflow: hidden;
}

.stave > .up-ledge {
    align-self: start;
}

.stave > .down-ledge {
    align-self: end;
}

/*.stave > .tail {
    align-self: center;
}*/

.stave > .beam {
    align-self: stretch;
    width: auto;
}

.stave > .up-beam {
    position: relative;
    top: calc(-1em * var(--stem-height));
}

.stave > .down-beam {
    position: relative;
    top: calc(1em * var(--stem-height));
}

.stave > .rest {
    grid-row: stave-center;
    align-self: center;
}

.stave > .rest[data-duration="4"],
.stave > .rest[data-duration="6"] {
    grid-row: 12;
}

.stave > .tie,
.stave > .down-tie {
    align-self: start;
    margin-top: 0.225em;
}

.stave > .up-tie {
    align-self: end;
    margin-bottom: 0.225em;
}

.stave > .lyric {
    grid-row: lyrics;
    align-self: end;
}

.stave > [data-pitch^="G"][data-pitch$="9"] { grid-row: G9; }
.stave > [data-pitch^="F"][data-pitch$="9"] { grid-row: F9; }
.stave > [data-pitch^="E"][data-pitch$="9"] { grid-row: E9; }
.stave > [data-pitch^="D"][data-pitch$="9"] { grid-row: D9; }
.stave > [data-pitch^="C"][data-pitch$="9"] { grid-row: C9; }
.stave > [data-pitch^="B"][data-pitch$="8"] { grid-row: B8; }
.stave > [data-pitch^="A"][data-pitch$="8"] { grid-row: A8; }
.stave > [data-pitch^="G"][data-pitch$="8"] { grid-row: G8; }
.stave > [data-pitch^="F"][data-pitch$="8"] { grid-row: F8; }
.stave > [data-pitch^="E"][data-pitch$="8"] { grid-row: E8; }
.stave > [data-pitch^="D"][data-pitch$="8"] { grid-row: D8; }
.stave > [data-pitch^="C"][data-pitch$="8"] { grid-row: C8; }
.stave > [data-pitch^="B"][data-pitch$="7"] { grid-row: B7; }
.stave > [data-pitch^="A"][data-pitch$="7"] { grid-row: A7; }
.stave > [data-pitch^="G"][data-pitch$="7"] { grid-row: G7; }
.stave > [data-pitch^="F"][data-pitch$="7"] { grid-row: F7; }
.stave > [data-pitch^="E"][data-pitch$="7"] { grid-row: E7; }
.stave > [data-pitch^="D"][data-pitch$="7"] { grid-row: D7; }
.stave > [data-pitch^="C"][data-pitch$="7"] { grid-row: C7; }
.stave > [data-pitch^="B"][data-pitch$="6"] { grid-row: B6; }
.stave > [data-pitch^="A"][data-pitch$="6"] { grid-row: A6; }
.stave > [data-pitch^="G"][data-pitch$="6"] { grid-row: G6; }
.stave > [data-pitch^="F"][data-pitch$="6"] { grid-row: F6; }
.stave > [data-pitch^="E"][data-pitch$="6"] { grid-row: E6; }
.stave > [data-pitch^="D"][data-pitch$="6"] { grid-row: D6; }
.stave > [data-pitch^="C"][data-pitch$="6"] { grid-row: C6; }
.stave > [data-pitch^="B"][data-pitch$="5"] { grid-row: B5; }
.stave > [data-pitch^="A"][data-pitch$="5"] { grid-row: A5; }
.stave > [data-pitch^="G"][data-pitch$="5"] { grid-row: G5; }
.stave > [data-pitch^="F"][data-pitch$="5"] { grid-row: F5; }
.stave > [data-pitch^="E"][data-pitch$="5"] { grid-row: E5; }
.stave > [data-pitch^="D"][data-pitch$="5"] { grid-row: D5; }
.stave > [data-pitch^="C"][data-pitch$="5"] { grid-row: C5; }
.stave > [data-pitch^="B"][data-pitch$="4"] { grid-row: B4; }
.stave > [data-pitch^="A"][data-pitch$="4"] { grid-row: A4; }
.stave > [data-pitch^="G"][data-pitch$="4"] { grid-row: G4; }
.stave > [data-pitch^="F"][data-pitch$="4"] { grid-row: F4; }
.stave > [data-pitch^="E"][data-pitch$="4"] { grid-row: E4; }
.stave > [data-pitch^="D"][data-pitch$="4"] { grid-row: D4; }
.stave > [data-pitch^="C"][data-pitch$="4"] { grid-row: C4; }
.stave > [data-pitch^="B"][data-pitch$="3"] { grid-row: B3; }
.stave > [data-pitch^="A"][data-pitch$="3"] { grid-row: A3; }
.stave > [data-pitch^="G"][data-pitch$="3"] { grid-row: G3; }
.stave > [data-pitch^="F"][data-pitch$="3"] { grid-row: F3; }
.stave > [data-pitch^="E"][data-pitch$="3"] { grid-row: E3; }
.stave > [data-pitch^="D"][data-pitch$="3"] { grid-row: D3; }
.stave > [data-pitch^="C"][data-pitch$="3"] { grid-row: C3; }
.stave > [data-pitch^="B"][data-pitch$="2"] { grid-row: B2; }
.stave > [data-pitch^="A"][data-pitch$="2"] { grid-row: A2; }
.stave > [data-pitch^="G"][data-pitch$="2"] { grid-row: G2; }
.stave > [data-pitch^="F"][data-pitch$="2"] { grid-row: F2; }
.stave > [data-pitch^="E"][data-pitch$="2"] { grid-row: E2; }
.stave > [data-pitch^="D"][data-pitch$="2"] { grid-row: D2; }
.stave > [data-pitch^="C"][data-pitch$="2"] { grid-row: C2; }
.stave > [data-pitch^="B"][data-pitch$="1"] { grid-row: B1; }
.stave > [data-pitch^="A"][data-pitch$="1"] { grid-row: A1; }
.stave > [data-pitch^="G"][data-pitch$="1"] { grid-row: G1; }
.stave > [data-pitch^="F"][data-pitch$="1"] { grid-row: F1; }
.stave > [data-pitch^="E"][data-pitch$="1"] { grid-row: E1; }
.stave > [data-pitch^="D"][data-pitch$="1"] { grid-row: D1; }
.stave > [data-pitch^="C"][data-pitch$="1"] { grid-row: C1; }
.stave > [data-pitch^="B"][data-pitch$="0"] { grid-row: B0; }
.stave > [data-pitch^="A"][data-pitch$="0"] { grid-row: A0; }
.stave > [data-pitch^="G"][data-pitch$="0"] { grid-row: G0; }
.stave > [data-pitch^="F"][data-pitch$="0"] { grid-row: F0; }
.stave > [data-pitch^="E"][data-pitch$="0"] { grid-row: E0; }
.stave > [data-pitch^="D"][data-pitch$="0"] { grid-row: D0; }
.stave > [data-pitch^="C"][data-pitch$="0"] { grid-row: C0; }
.stave > [data-pitch^="B"][data-pitch$="-1"] { grid-row: B-1; }
.stave > [data-pitch^="A"][data-pitch$="-1"] { grid-row: A-1; }
.stave > [data-pitch^="G"][data-pitch$="-1"] { grid-row: G-1; }
.stave > [data-pitch^="F"][data-pitch$="-1"] { grid-row: F-1; }
.stave > [data-pitch^="E"][data-pitch$="-1"] { grid-row: E-1; }
.stave > [data-pitch^="D"][data-pitch$="-1"] { grid-row: D-1; }
.stave > [data-pitch^="C"][data-pitch$="-1"] { grid-row: C-1; }
