
.stave {
    /* The SMuFL font spec says that a standard five-line stave is 1em high,
       making the stave line to stave line distance 0.25em, and a stave row 0.125em */
    /*--stem-height: 0.875em;*/

    display: grid;

    /* Allow staves that are not bars to hold content horizontally */
    grid-auto-columns: auto;
    column-gap: 0;
    justify-content: start;
    padding-left: 0.125em;

    /* Prevent stray content from breaking layout */
    grid-auto-rows: 0;
    row-gap: 0;

    /* By default, render staves at 32px high */
    font-size: 2em;

    /* Render the stave as a background image */
    --line-thickness: 0.025em;
    /*background-image:
    url('data:image/svg+xml;utf8,<svg viewBox="0 -5 1 10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.04em;stroke-linejoin:round;stroke-linecap:butt;fill:none;}</style>\
        <line x1="0" x2="1" y1="4" y2="4"></line>\
        <line x1="0" x2="1" y1="2" y2="2"></line>\
        <line x1="0" x2="1" y1="0" y2="0"></line>\
        <line x1="0" x2="1" y1="-2" y2="-2"></line>\
        <line x1="0" x2="1" y1="-4" y2="-4"></line>\
        <line x1="1" x2="1" y1="4" y2="-4" style="stroke-width:0.12em;"></line>\
    </svg>');*/
    background-image: linear-gradient(to bottom,
        transparent 0,
        transparent calc(0.125em - 0.5 * var(--line-thickness)), currentcolor calc(0.125em - 0.5 * var(--line-thickness)), currentcolor calc(0.125em + 0.5 * var(--line-thickness)), transparent calc(0.125em + 0.5 * var(--line-thickness)),
        transparent calc(0.375em - 0.5 * var(--line-thickness)), currentcolor calc(0.375em - 0.5 * var(--line-thickness)), currentcolor calc(0.375em + 0.5 * var(--line-thickness)), transparent calc(0.375em + 0.5 * var(--line-thickness)),
        transparent calc(0.625em - 0.5 * var(--line-thickness)), currentcolor calc(0.625em - 0.5 * var(--line-thickness)), currentcolor calc(0.625em + 0.5 * var(--line-thickness)), transparent calc(0.625em + 0.5 * var(--line-thickness)),
        transparent calc(0.875em - 0.5 * var(--line-thickness)), currentcolor calc(0.875em - 0.5 * var(--line-thickness)), currentcolor calc(0.875em + 0.5 * var(--line-thickness)), transparent calc(0.875em + 0.5 * var(--line-thickness)),
        transparent calc(1.125em - 0.5 * var(--line-thickness)), currentcolor calc(1.125em - 0.5 * var(--line-thickness)), currentcolor calc(1.125em + 0.5 * var(--line-thickness)), transparent calc(1.125em + 0.5 * var(--line-thickness)),
        transparent 100%
    );
    background-repeat: repeat-x;
    background-size: 100% 1.25em;
    background-position: 0 50%;
}

@media screen and (max-resolution: 1x) {
    .stave {
        /* Make stave lines appear on standard density screens, particular
           problem in FF */
        --line-thickness: 1px;
    }
}

.open-stave {
    /* Render the stave as a background image */
    /*background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 -5 1 10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <style>line{vector-effect:non-scaling-stroke;stroke:currentcolor;stroke-width:0.04em;stroke-linejoin:round;stroke-linecap:butt;fill:none;}</style>\
        <line x1="0" x2="1" y1="4" y2="4"></line>\
        <line x1="0" x2="1" y1="2" y2="2"></line>\
        <line x1="0" x2="1" y1="0" y2="0"></line>\
        <line x1="0" x2="1" y1="-2" y2="-2"></line>\
        <line x1="0" x2="1" y1="-4" y2="-4"></line>\
    </svg>');*/
    background-image: linear-gradient(to bottom,
        transparent 0,
        transparent calc(0.125em - 0.5 * var(--line-thickness)), currentcolor calc(0.125em - 0.5 * var(--line-thickness)), currentcolor calc(0.125em + 0.5 * var(--line-thickness)), transparent calc(0.125em + 0.5 * var(--line-thickness)),
        transparent calc(0.375em - 0.5 * var(--line-thickness)), currentcolor calc(0.375em - 0.5 * var(--line-thickness)), currentcolor calc(0.375em + 0.5 * var(--line-thickness)), transparent calc(0.375em + 0.5 * var(--line-thickness)),
        transparent calc(0.625em - 0.5 * var(--line-thickness)), currentcolor calc(0.625em - 0.5 * var(--line-thickness)), currentcolor calc(0.625em + 0.5 * var(--line-thickness)), transparent calc(0.625em + 0.5 * var(--line-thickness)),
        transparent calc(0.875em - 0.5 * var(--line-thickness)), currentcolor calc(0.875em - 0.5 * var(--line-thickness)), currentcolor calc(0.875em + 0.5 * var(--line-thickness)), transparent calc(0.875em + 0.5 * var(--line-thickness)),
        transparent calc(1.125em - 0.5 * var(--line-thickness)), currentcolor calc(1.125em - 0.5 * var(--line-thickness)), currentcolor calc(1.125em + 0.5 * var(--line-thickness)), transparent calc(1.125em + 0.5 * var(--line-thickness)),
        transparent 100%
    );
}

.stave > [data-pitch^="G"][data-pitch$="9"] { grid-row: G9; }
.stave > [data-pitch^="F"][data-pitch$="9"] { grid-row: F9; }
.stave > [data-pitch^="E"][data-pitch$="9"] { grid-row: E9; }
.stave > [data-pitch^="D"][data-pitch$="9"] { grid-row: D9; }
.stave > [data-pitch^="C"][data-pitch$="9"] { grid-row: C9; }
.stave > [data-pitch^="B"][data-pitch$="8"] { grid-row: B8; }
.stave > [data-pitch^="A"][data-pitch$="8"] { grid-row: A8; }
.stave > [data-pitch^="G"][data-pitch$="8"] { grid-row: G8; }
.stave > [data-pitch^="F"][data-pitch$="8"] { grid-row: F8; }
.stave > [data-pitch^="E"][data-pitch$="8"] { grid-row: E8; }
.stave > [data-pitch^="D"][data-pitch$="8"] { grid-row: D8; }
.stave > [data-pitch^="C"][data-pitch$="8"] { grid-row: C8; }
.stave > [data-pitch^="B"][data-pitch$="7"] { grid-row: B7; }
.stave > [data-pitch^="A"][data-pitch$="7"] { grid-row: A7; }
.stave > [data-pitch^="G"][data-pitch$="7"] { grid-row: G7; }
.stave > [data-pitch^="F"][data-pitch$="7"] { grid-row: F7; }
.stave > [data-pitch^="E"][data-pitch$="7"] { grid-row: E7; }
.stave > [data-pitch^="D"][data-pitch$="7"] { grid-row: D7; }
.stave > [data-pitch^="C"][data-pitch$="7"] { grid-row: C7; }
.stave > [data-pitch^="B"][data-pitch$="6"] { grid-row: B6; }
.stave > [data-pitch^="A"][data-pitch$="6"] { grid-row: A6; }
.stave > [data-pitch^="G"][data-pitch$="6"] { grid-row: G6; }
.stave > [data-pitch^="F"][data-pitch$="6"] { grid-row: F6; }
.stave > [data-pitch^="E"][data-pitch$="6"] { grid-row: E6; }
.stave > [data-pitch^="D"][data-pitch$="6"] { grid-row: D6; }
.stave > [data-pitch^="C"][data-pitch$="6"] { grid-row: C6; }
.stave > [data-pitch^="B"][data-pitch$="5"] { grid-row: B5; }
.stave > [data-pitch^="A"][data-pitch$="5"] { grid-row: A5; }
.stave > [data-pitch^="G"][data-pitch$="5"] { grid-row: G5; }
.stave > [data-pitch^="F"][data-pitch$="5"] { grid-row: F5; }
.stave > [data-pitch^="E"][data-pitch$="5"] { grid-row: E5; }
.stave > [data-pitch^="D"][data-pitch$="5"] { grid-row: D5; }
.stave > [data-pitch^="C"][data-pitch$="5"] { grid-row: C5; }
.stave > [data-pitch^="B"][data-pitch$="4"] { grid-row: B4; }
.stave > [data-pitch^="A"][data-pitch$="4"] { grid-row: A4; }
.stave > [data-pitch^="G"][data-pitch$="4"] { grid-row: G4; }
.stave > [data-pitch^="F"][data-pitch$="4"] { grid-row: F4; }
.stave > [data-pitch^="E"][data-pitch$="4"] { grid-row: E4; }
.stave > [data-pitch^="D"][data-pitch$="4"] { grid-row: D4; }
.stave > [data-pitch^="C"][data-pitch$="4"] { grid-row: C4; }
.stave > [data-pitch^="B"][data-pitch$="3"] { grid-row: B3; }
.stave > [data-pitch^="A"][data-pitch$="3"] { grid-row: A3; }
.stave > [data-pitch^="G"][data-pitch$="3"] { grid-row: G3; }
.stave > [data-pitch^="F"][data-pitch$="3"] { grid-row: F3; }
.stave > [data-pitch^="E"][data-pitch$="3"] { grid-row: E3; }
.stave > [data-pitch^="D"][data-pitch$="3"] { grid-row: D3; }
.stave > [data-pitch^="C"][data-pitch$="3"] { grid-row: C3; }
.stave > [data-pitch^="B"][data-pitch$="2"] { grid-row: B2; }
.stave > [data-pitch^="A"][data-pitch$="2"] { grid-row: A2; }
.stave > [data-pitch^="G"][data-pitch$="2"] { grid-row: G2; }
.stave > [data-pitch^="F"][data-pitch$="2"] { grid-row: F2; }
.stave > [data-pitch^="E"][data-pitch$="2"] { grid-row: E2; }
.stave > [data-pitch^="D"][data-pitch$="2"] { grid-row: D2; }
.stave > [data-pitch^="C"][data-pitch$="2"] { grid-row: C2; }
.stave > [data-pitch^="B"][data-pitch$="1"] { grid-row: B1; }
.stave > [data-pitch^="A"][data-pitch$="1"] { grid-row: A1; }
.stave > [data-pitch^="G"][data-pitch$="1"] { grid-row: G1; }
.stave > [data-pitch^="F"][data-pitch$="1"] { grid-row: F1; }
.stave > [data-pitch^="E"][data-pitch$="1"] { grid-row: E1; }
.stave > [data-pitch^="D"][data-pitch$="1"] { grid-row: D1; }
.stave > [data-pitch^="C"][data-pitch$="1"] { grid-row: C1; }
.stave > [data-pitch^="B"][data-pitch$="0"] { grid-row: B0; }
.stave > [data-pitch^="A"][data-pitch$="0"] { grid-row: A0; }
.stave > [data-pitch^="G"][data-pitch$="0"] { grid-row: G0; }
.stave > [data-pitch^="F"][data-pitch$="0"] { grid-row: F0; }
.stave > [data-pitch^="E"][data-pitch$="0"] { grid-row: E0; }
.stave > [data-pitch^="D"][data-pitch$="0"] { grid-row: D0; }
.stave > [data-pitch^="C"][data-pitch$="0"] { grid-row: C0; }
.stave > [data-pitch^="B"][data-pitch$="-1"] { grid-row: B-1; }
.stave > [data-pitch^="A"][data-pitch$="-1"] { grid-row: A-1; }
.stave > [data-pitch^="G"][data-pitch$="-1"] { grid-row: G-1; }
.stave > [data-pitch^="F"][data-pitch$="-1"] { grid-row: F-1; }
.stave > [data-pitch^="E"][data-pitch$="-1"] { grid-row: E-1; }
.stave > [data-pitch^="D"][data-pitch$="-1"] { grid-row: D-1; }
.stave > [data-pitch^="C"][data-pitch$="-1"] { grid-row: C-1; }

.stave > [data-pitch="N127"] { grid-row: N127; }
.stave > [data-pitch="N126"] { grid-row: N126; }
.stave > [data-pitch="N125"] { grid-row: N125; }
.stave > [data-pitch="N124"] { grid-row: N124; }
.stave > [data-pitch="N123"] { grid-row: N123; }
.stave > [data-pitch="N122"] { grid-row: N122; }
.stave > [data-pitch="N121"] { grid-row: N121; }
.stave > [data-pitch="N120"] { grid-row: N120; }
.stave > [data-pitch="N119"] { grid-row: N119; }
.stave > [data-pitch="N118"] { grid-row: N118; }
.stave > [data-pitch="N117"] { grid-row: N117; }
.stave > [data-pitch="N116"] { grid-row: N116; }
.stave > [data-pitch="N115"] { grid-row: N115; }
.stave > [data-pitch="N114"] { grid-row: N114; }
.stave > [data-pitch="N113"] { grid-row: N113; }
.stave > [data-pitch="N112"] { grid-row: N112; }
.stave > [data-pitch="N111"] { grid-row: N111; }
.stave > [data-pitch="N110"] { grid-row: N110; }
.stave > [data-pitch="N109"] { grid-row: N109; }
.stave > [data-pitch="N108"] { grid-row: N108; }
.stave > [data-pitch="N107"] { grid-row: N107; }
.stave > [data-pitch="N106"] { grid-row: N106; }
.stave > [data-pitch="N105"] { grid-row: N105; }
.stave > [data-pitch="N104"] { grid-row: N104; }
.stave > [data-pitch="N103"] { grid-row: N103; }
.stave > [data-pitch="N102"] { grid-row: N102; }
.stave > [data-pitch="N101"] { grid-row: N101; }
.stave > [data-pitch="N100"] { grid-row: N100; }
.stave > [data-pitch="N99"]  { grid-row: N99; }
.stave > [data-pitch="N98"]  { grid-row: N98; }
.stave > [data-pitch="N97"]  { grid-row: N97; }
.stave > [data-pitch="N96"]  { grid-row: N96; }
.stave > [data-pitch="N95"]  { grid-row: N95; }
.stave > [data-pitch="N94"]  { grid-row: N94; }
.stave > [data-pitch="N93"]  { grid-row: N93; }
.stave > [data-pitch="N92"]  { grid-row: N92; }
.stave > [data-pitch="N91"]  { grid-row: N91; }
.stave > [data-pitch="N90"]  { grid-row: N90; }
.stave > [data-pitch="N89"]  { grid-row: N89; }
.stave > [data-pitch="N88"]  { grid-row: N88; }
.stave > [data-pitch="N87"]  { grid-row: N87; }
.stave > [data-pitch="N86"]  { grid-row: N86; }
.stave > [data-pitch="N85"]  { grid-row: N85; }
.stave > [data-pitch="N84"]  { grid-row: N84; }
.stave > [data-pitch="N83"]  { grid-row: N83; }
.stave > [data-pitch="N82"]  { grid-row: N82; }
.stave > [data-pitch="N81"]  { grid-row: N81; }
.stave > [data-pitch="N80"]  { grid-row: N80; }
.stave > [data-pitch="N79"]  { grid-row: N79; }
.stave > [data-pitch="N78"]  { grid-row: N78; }
.stave > [data-pitch="N77"]  { grid-row: N77; }
.stave > [data-pitch="N76"]  { grid-row: N76; }
.stave > [data-pitch="N75"]  { grid-row: N75; }
.stave > [data-pitch="N74"]  { grid-row: N74; }
.stave > [data-pitch="N73"]  { grid-row: N73; }
.stave > [data-pitch="N72"]  { grid-row: N72; }
.stave > [data-pitch="N71"]  { grid-row: N71; }
.stave > [data-pitch="N70"]  { grid-row: N70; }
.stave > [data-pitch="N69"]  { grid-row: N69; }
.stave > [data-pitch="N68"]  { grid-row: N68; }
.stave > [data-pitch="N67"]  { grid-row: N67; }
.stave > [data-pitch="N66"]  { grid-row: N66; }
.stave > [data-pitch="N65"]  { grid-row: N65; }
.stave > [data-pitch="N64"]  { grid-row: N64; }
.stave > [data-pitch="N63"]  { grid-row: N63; }
.stave > [data-pitch="N62"]  { grid-row: N62; }
.stave > [data-pitch="N61"]  { grid-row: N61; }
.stave > [data-pitch="N60"]  { grid-row: N60; }
.stave > [data-pitch="N59"]  { grid-row: N59; }
.stave > [data-pitch="N58"]  { grid-row: N58; }
.stave > [data-pitch="N57"]  { grid-row: N57; }
.stave > [data-pitch="N56"]  { grid-row: N56; }
.stave > [data-pitch="N55"]  { grid-row: N55; }
.stave > [data-pitch="N54"]  { grid-row: N54; }
.stave > [data-pitch="N53"]  { grid-row: N53; }
.stave > [data-pitch="N52"]  { grid-row: N52; }
.stave > [data-pitch="N51"]  { grid-row: N51; }
.stave > [data-pitch="N50"]  { grid-row: N50; }
.stave > [data-pitch="N49"]  { grid-row: N49; }
.stave > [data-pitch="N48"]  { grid-row: N48; }
.stave > [data-pitch="N47"]  { grid-row: N47; }
.stave > [data-pitch="N46"]  { grid-row: N46; }
.stave > [data-pitch="N45"]  { grid-row: N45; }
.stave > [data-pitch="N44"]  { grid-row: N44; }
.stave > [data-pitch="N43"]  { grid-row: N43; }
.stave > [data-pitch="N42"]  { grid-row: N42; }
.stave > [data-pitch="N41"]  { grid-row: N41; }
.stave > [data-pitch="N40"]  { grid-row: N40; }
.stave > [data-pitch="N39"]  { grid-row: N39; }
.stave > [data-pitch="N38"]  { grid-row: N38; }
.stave > [data-pitch="N37"]  { grid-row: N37; }
.stave > [data-pitch="N36"]  { grid-row: N36; }
.stave > [data-pitch="N35"]  { grid-row: N35; }
.stave > [data-pitch="N34"]  { grid-row: N34; }
.stave > [data-pitch="N33"]  { grid-row: N33; }
.stave > [data-pitch="N32"]  { grid-row: N32; }
.stave > [data-pitch="N31"]  { grid-row: N31; }
.stave > [data-pitch="N30"]  { grid-row: N30; }
.stave > [data-pitch="N29"]  { grid-row: N29; }
.stave > [data-pitch="N28"]  { grid-row: N28; }
.stave > [data-pitch="N27"]  { grid-row: N27; }
.stave > [data-pitch="N26"]  { grid-row: N26; }
.stave > [data-pitch="N25"]  { grid-row: N25; }
.stave > [data-pitch="N24"]  { grid-row: N24; }
.stave > [data-pitch="N23"]  { grid-row: N23; }
.stave > [data-pitch="N22"]  { grid-row: N22; }
.stave > [data-pitch="N21"]  { grid-row: N21; }
.stave > [data-pitch="N20"]  { grid-row: N20; }
.stave > [data-pitch="N19"]  { grid-row: N19; }
.stave > [data-pitch="N18"]  { grid-row: N18; }
.stave > [data-pitch="N17"]  { grid-row: N17; }
.stave > [data-pitch="N16"]  { grid-row: N16; }
.stave > [data-pitch="N15"]  { grid-row: N15; }
.stave > [data-pitch="N14"]  { grid-row: N14; }
.stave > [data-pitch="N13"]  { grid-row: N13; }
.stave > [data-pitch="N12"]  { grid-row: N12; }
.stave > [data-pitch="N11"]  { grid-row: N11; }
.stave > [data-pitch="N10"]  { grid-row: N10; }
.stave > [data-pitch="N9"]   { grid-row: N9; }
.stave > [data-pitch="N8"]   { grid-row: N8; }
.stave > [data-pitch="N7"]   { grid-row: N7; }
.stave > [data-pitch="N6"]   { grid-row: N6; }
.stave > [data-pitch="N5"]   { grid-row: N5; }
.stave > [data-pitch="N4"]   { grid-row: N4; }
.stave > [data-pitch="N3"]   { grid-row: N3; }
.stave > [data-pitch="N2"]   { grid-row: N2; }
.stave > [data-pitch="N1"]   { grid-row: N1; }
.stave > [data-pitch="N0"]   { grid-row: N0; }

.stave::before {
    /* Clef */
    align-self: center;
}

.stave > svg {
    grid-column: 1 / span -1;
    grid-row: stave-top / stave-bottom;
    overflow: visible;
}

.stave > .clef {
    align-self: center;
}

.stave > .treble-clef {
    grid-row: G4;
}

.stave > .treble-up-clef {
    grid-row: G5;
}

.stave > .treble-down-clef {
    grid-row: G3;
}

.stave > .bass-clef {
    grid-row: F3;
}

.stave > .alto-clef {
    grid-row: C4;
}

.stave > .drum-clef,
.stave > .percussion-clef {
    grid-row: stave-center;
}

.stave > .timesig {
    grid-row: stave-center;
    align-self: center;
}

.stave > .note {
    align-self: center;
}

.stave > .accent {
    align-self: center;
}

.stave > .chord {
    grid-row: chords;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75em;
}

.stave > .acci {
    grid-row-end: span 1;
    align-self: center;
}

.stave > .ledge {
    /* Stretch ledge from one named row to another plus 1 */
    align-self: stretch;
    height: auto;
    overflow: hidden;
}

.stave > .up-ledge[data-pitch]   {
    grid-row-end: stave-top;
    margin-bottom: 0.125em;
}

.stave > .down-ledge[data-pitch] {
    grid-row-start: stave-bottom;
    position: relative;
    top: 0.125em;
}

/*
.stave > .stem {
    align-self: center;
}
*/
.stave > .up-stem {
    align-self: end;
    margin-bottom: 0.0625em;
}

.stave > .down-stem {
    align-self: start;
    margin-top: 0.0625em;
}

/*.stave > .tail {
    align-self: center;
}*/

.stave > .beam {
    align-self: stretch;
    width: auto;
}

.stave > .up-beam {
    position: relative;
    top: calc(-0.9375em * var(--stem-height));
}

.stave > .down-beam {
    position: relative;
    top: calc(1em * var(--stem-height));
}

.stave > .rest {
    grid-row: stave-center;
    align-self: center;
}

.stave > .rest[data-duration="4"],
.stave > .rest[data-duration="6"] {
    grid-row: 13;
}

.stave > .tie,
.stave > .down-tie {
    align-self: start;
    margin-top: 0.225em;
}

.stave > .up-tie {
    align-self: end;
    margin-bottom: 0.225em;
}

.stave > .lyric {
    grid-row: lyrics;
    align-self: end;
}

.stave > .barrepeat {
    align-self: center;
    grid-row: stave-center;
}
